{% extends "base.html" %}

{% block pagecss %}
<style>
td { padding: 1.5ex; }
figure { text-align: center; }
figcaption { }

img { border-radius: 2ex; }
</style>
{% endblock %}
{% block pagehead %}
Lunch in Veneta, April 17, 2021
{% endblock %}

{% block subhead %}{% endblock %}

{% block content %}
<!--
<div class="row"><div class="col-md-12">
<figure>
<a href="img/alsea-mcfarland.jpg">
<img src="img/alsea-mcfarland-640.jpg"
  alt="Photo of Gabe and Jeff on McFarland Road"
  title="Photo of Gabe and Jeff on McFarland Road"
  /></a>
<figcaption>Photo: Chris Archibald</figcaption>
</figure>
</div></div>
-->

<div class="row">
<div class="col-md-10">
  <p>Unofficial map and downloadable track:
  <a href="https://ridewithgps.com/routes/29335242">
  https://ridewithgps.com/routes/29335242
  </a>;
  Contact for more information:
  <a href="mailto:rba@will-rando.org?subject=Alsea
  200">rba@will-rando.org</a></p>
  </p>

<a
  href="https://forms.gle/h4BSZRFmhi2fdNtp7"><h4>Registration
  form</h4></a>

  <dl>
  <dt>Start</dt>
  <dd>8:30 am at Wandering Goat Coffee, 268 Madison Street, Eugene 97402. Please arrive at least 5 minutes before start.
  RUSA membership required.  No day-of-ride registration.</dd>
  <dt>Cost</dt>
  <dd>$6</dd>
  <dt>Finish</dt>
  <dd>Oakshire Brewing Public House, 207 Madison St, Eugene 97402</dd>
  </dl>

   
  <h3>Requirements</h3>
 
  <p>This is a populaire (100k) sanctioned  Randonneurs
  USA, and is subject to <a
  href="https://rusa.org/pages/rulesForRiders">RUSA Rules for
  Riders.</a>  If you are not familiar with these rules, please
  read them well in advance so that you can be prepared.  They are
  <emph>not</emph> the same as a club century ride.</p>
  <p>This ride will take place entirely in daylight hours, so lights
      and reflectivity requirements are not in effect.
  </p>
  <p>We will use electronic proof of passage (either GPS or photos)
  exclusively.  There will be no brevet cards, but I will provide a
      cue sheet at the start.  I can arrange to
  collect information control answers if you prefer.</p>
  <h3>What to expect</h3>
  <p>This is a self-supported ride. There is no SAG.  Food and
  drinks are available at markets along the route. Randonneuring
  rules prohibit personal support vehicles or other
  personal support except at the
  controles, which are marked on the route.  </p>
  <p>This is an all-conditions ride. There will be some kind of
  weather.  Maybe it will be wonderful, 
  and maybe it won't.  Come prepared.  Unless you feel your life or
health are at risk, ride through.</p>

<h2>Pandemic Conditions</h2>
    <p>We are taking special measures to ride safely in pandemic
    conditions.   You must bring a mask to the start and use it when
    entering any establishment on the route, whether or not they
    require it.  I advise bringing enough water to get through a
    100km (62.5 miles) without refilling, although it is possible
    to buy or find water in Veneta.  Despite the name of the ride
    and pleasant memories of convivial brunches in Veneta, we do
    not plan any indoor dining on this ride or after.
    </p>

</div></div>


{% endblock %}    
