{% extends "base.html" %}

{% block pagecss %}
<style>
td { padding: 1.5ex; }
figure { text-align: center; }
figcaption { }

img { border-radius: 2ex; }
</style>
{% endblock %}
{% block pagehead %}
Smith River 600k <br />June 8, 2019
{% endblock %}

  
{% block subhead %}{% endblock %}


{% block content %}
<div class="row"><div class="col-md-12">
<figure>
<a href="/events/img/SmithRiver-Falls.jpg">
<img src="/events/img/SmithRiver-Falls600px.jpg"
  alt="Smith River"
  title="Smith River"
  /></a>
<figcaption>Smith River</figcaption>
</figure>
</div></div>

       <div class="row">
    <div class="col-sm-8">
        <p><a ref="https://forms.gle/bsDU2yj1v6wfQkta7">Register</a> by Thursday June 17</p>
        <p>RUSA membership required. $15 ride fee. No day-of-ride registration.
        Electronic proof-of-passage encouraged; brevet cards optional.</p>
    </div>
    </div>


<div class="row">
<div class="col-md-10">
  <p>Unofficial map and downloadable track:
  <a href="https://ridewithgps.com/routes/30191465">
  https://ridewithgps.com/routes/30191465</a>;<br />
  <a href="../pdfs/Smith-600-2019.xlsx">
      Cue sheet (xlsx)</a><br />
  Contact for more information:
  <a href="mailto:rba@will-rando.org?subject=600k
  200">rba@will-rando.org</a></p>
  </p>



  <dl>
    <dt>Start</dt>
    <dd> 5:30am, Mandy's Family Diner, 15th and Willamette, Eugene OR.</dd>
         <dt>Finish</dt>
      <dd>by 9:30pm at Falling Sky brew pub, 1334 Oak Alley, Eugene, OR </dd>
    </dl>

    <h3>Two Loops from Eugene</h3>
    <p>Our first 600k brevet is structured as two loops from downtown Eugene.   The first
        loop is an extended version of the Smith River 300k route, but continuing
        Siuslaw Highway to Lorane, over the hump to Cottage Grove, and north
        to Eugene.  Most riders will
    want to take their overnight stop somewhere near downtown Eugene, although Cottage
    Grove could also work. The second loop is north through Brownsville and Lebanon
    and then northwest to Independence, then south through Albany and Harrisburg to
    Eugene --- much flatter, with a good chance of a tailwind when you turn south.</p>

    <ul>
        <li>First day is about 360k with a considerable amount of climbing.  The second day
            is shorter (240k) and flatter.
        </li>
        <li>The section from Reedsport to Lorane is long and remote.  The Smith River Store
        about 20 miles in is your last chance to resupply before the staffed control at
        Oxbow Summit.  You should carry at least three bottles of water for that stretch.
        Top up in Reedsport and again at Smith River Store.</li>
        <li>You will not have cell service from a little past Reedsport until at least
        the Oxbow Summit control, where the signal is very weak and intermittent.  We appreciate
        riders texting from Reedsport to give us an idea of when to expect them at the control.</li>
        <li>Many of the road intersections between Reedsport and Oxbow Summit are unmarked.
            Our route is entirely paved.  If you find yourself on a gravel road, you have taken a
            wrong turn.  A GPS navigation unit is helpful.   Also study the map ... there is a
            portion of the route in which we keep the Smith River on our right, until Smith River Road
            branches right and we continue straight on South Sister Road.  With that single
            exception we are on the &ldquo;main&rdquo; road at each intersection.
        </li>
        <li>A 5:30am start this close to the solstice means that you will get a lot of sunlight.</li>
        <li><s>Mandy's Diner (the start point, open 24 hours) serves hearty portions but it is not
            fast.</s> Our only 24-hour meal option is not operating 24-hours during the
            pandemic.
            If you take a hotel, you may wish to have some ready-to-eat foods there.
        </li>
        <li>Hotels close by are heavily booked for the Olympic Trials.
        There is free parking through the weekend at the faculty permit
        parking lot at Baker Center, 975 High Street, as well as in
        municipal parking structures.</li>
    </ul>

  <h3>Requirements</h3>

    <p>As a condition of participation, you will be asked to sign a release and waiver of liability
        at the ride start.  <a href="/static/downloads/Sample-release.pdf">Read it now</a>
        so that you are familiar with it.  Be sure you know what you're getting into and
        are prepared and comfortable with the risks.</p>

  <p>This brevet is sanctioned by Audax Club Parisien and Randonneurs
  USA, and is subject to <a
  href="https://rusa.org/pages/rulesForRiders">RUSA Rules for
  Riders.</a>  If you are not familiar with these rules, please
  read them well in advance so that you can be prepared.  They are
    <emph>not</emph> the same as a club century ride.</p>
    <p>RUSA membership is <em>not</em> required to participate.  However, only
    RUSA members can buy a nifty medal to commemorate their
  achievement.</p>
  <p>
  Your bicycle must be equipped with front and rear lights,
  even if you expect to finish in daylight.  After dusk, you must
  use your lights. 
  You must carry adequate reflective garments, preferably conforming
  to
  <a href="https://rusa.org/reflectivity/">RUSA reflectivity
  guidelines</a>.  If you are observed riding in low light conditions
  with inadequate lights or reflectivity, you will be
  disqualified.</p>
  <p>Familiarize yourself with procedures for riding a brevet,
  incuding collection of times and signatures on the control card.
  The card must be signed and turned in at the finish.</p>
  <h3>What to expect</h3>
  <p>This is a self-supported ride except for one
      staffed control at Oxbow Summit. There is no SAG.
      Bring at least three bottles (I take two regular bottles
      and one folding water bladder) and fill them in Reedsport,
      then top-up again at the Smith River Store.
  </p>
    <p>You will not have cell service for significant portions of the first day.</p>
  <p>This is an all-conditions ride. There will be some kind of
  weather.  Maybe it will be wonderful, 
  and maybe it won't.  Come prepared.  Unless you feel your life or
  health are at risk, ride through.</p>
  <p>Expect this to be a demanding ride.  You need to be comfortable
      riding long distances in remote areas.  Carry the tools you need to
      manage minor mechanical issues.
      You need not be a fast rider, but it takes some discipline
   to move efficiently through the controles. Remember,
   the clock doesn't stop, even when you do!  The slower you ride,
  the more important is your &ldquo;controle discipline.&rdquo;</p>
  <p>Most important: Be safe, and enjoy the ride.</p>
</div></div>


{% endblock %}    
