{% extends "base.html" %}

{% block title %}Willamette Randonneurs{% endblock %}

  
     {% block subhead %}Contact{% endblock %}

{% block content %}

<div class="row">
<div class="col-md-10">
  <h3>RUSA</h3>
  <p><a href="https://rusa.org">Randonneurs USA</a> (RUSA) is the
  affiliate of <a
  href="http://www.randonneursmondiaux.org/?langue=EN">
  Les Randonneurs Mondiaux</a> in the United States.</p>
</div></div>


<div class="row">
<div class="col-md-10">
  <h3>Regional Brevet Administrator</h3>
  <p>Randonneurs USA (RUSA) appoints individuals called
  &ldquo;regional brevet administrators&rdquo; to
  schedule and manage randonneuring events in a
  geographic area.  
  <a href="mailto:rba@will-rando.org?subject=Will-Rando">
  Michal Young</a> was appointed RBA for the South Willamette
  region (roughly Eugene and surrounding areas) beginning
  calendar year 2017.</p>
</div></div>

<div class="row">
<div class="col-md-10">
  <h3>Nearby Regions</h3>
  <p>Nearby regions and clubs include
  <a href="http://www.orrandonneurs.org/">Oregon Randonneurs</a>,
  based primarily in the Portland area but also riding in the
  Columbia Gorge, Willamette Valley, and Central Oregon;
  <a href="http://www.seattlerandonneur.org/">Seattle International
  Randonneurs</a>, based in Seattle but with many rides in other parts
  of Washington; <a href="http://drrando.blogspot.com/">Desert River
  Randonneurs</a> based in SE Washington and NE Oregon; and
  <a href="https://sites.google.com/site/montanarando/">Montana
  Randonneurs</a> based in Bozeman.  To our south, there are several
  active randonneuring clubs in the SF Bay area.</p>
</div></div>



{% endblock %}    
