{% extends "base.html" %}

{% block title %}Willamette Randonneurs{% endblock %}

  
     {% block subhead %}Resources{% endblock %}

{% block content %}

<div class="row">
<div class="col-md-10">
  <h3>Ride Calendar</h3>
  <p>Norm Carr, RBA of Desert River Randonneurs,
  maintains a <a href="https://goo.gl/bQHlL">
  comprehensive randonneuring calendar</a> for the Pacific Northwest.
  Easy perma-link: <a
  href="https://goo.gl/bQHlL">https://goo.gl/bQHlL</a>.
  </p>
</div><!-- col -->
</div><!-- row -->

<div class="row">
<div class="col-md-10">
  <h3>Ride Planning: Routes</h3>
  <p><a href="https://ridewithgps.com">Ride With GPS (RWGPS)</a> is widely
  used in the North American randonneuring community for
  planning and sharing routes, even among
  people who use other applications like <a
  href="https://www.strava.com">Strava</a> for recording and sharing
  records of their rides.  There is a <a
  href="https://ridewithgps.com/groups/Willamette-Randonneurs">Willamette
  Randonneurs Group</a> in RWGPS, and we are beginning to populate it
  with brevet and populaire routes.
  </p>
</div><!-- col -->
</div><!-- row -->


<div class="row">
<div class="col-md-12">
  <h3>Ride Planning: Weather</h3>
  <p>
  What to wear?  What to carry?  <a
  href="http://www.epicrideweather.com/">Epic Ride Weather</a> is an
  application for plotting weather along your planned route, at your
  planned pace.  Works with Ride With GPS.
  </p>
  <p><a
  href="https://darksky.net/forecast/44.0521,-123.0867/us12/en">Dark
  Sky</a> is another good source of weather information by location
  and time.</p>
</div><!-- col -->
</div><!-- row -->

<div class="row">
<div class="col-md-12">
  <h3>Other resources</h3>
  <p>What else would you like to know or contribute?
     Please send suggestions to 
  <a href="mailto:rba@will-rando.org?subject=Will-Rando">
  the RBA / webmaster</a>.</p>
</div></div>

{% endblock %}    
