{% extends "base.html" %}

{% block pagecss %}
<style>
td { padding: 1.5ex; }
figure { text-align: center; }
figcaption { }

img { border-radius: 2ex; }
</style>
{% endblock %}
{% block pagehead %}
Umpqua 300k <br />June 4, 2022
{% endblock %}

  
{% block subhead %}{% endblock %}


{% block content %}
    <!--
<div class="row"><div class="col-md-12">
<figure>
<a href="/events/img/james-colliding-rivers.jpg">
<img src="/events/img/james-colliding-rivers-640px.jpg"
  alt="Little River"
  title="Little River"
  /></a>
<figcaption>Little River near its collison with the
    North Umpqua (James Taylor 2022)</figcaption>
</figure>
</div></div>
-->


<div class="row">
<div class="col-md-10">

    <p>
  Contact for more information:
  <a href="mailto:rba@will-rando.org?subject=Colliding Rivers 200"
     >rba@will-rando.org</a>

  </p>
    <p>Register by Thursday evening at:

  <a href="https://forms.gle/3bn8kQaCCigxXuhn9"><strong
   >Registration form</strong></a>
  </p>

  <dl>
    <dt>Start</dt>
    <dd> Start time is 5am at All American City Square
        (aka Opal Whitely Park), 711 E Main Street, Cottage Grove,
        OR, across from the Axe and Fiddle and the Bookmine.
        Please arrive at least ten minutes early for announcements about
        the ride, to sign waivers and for a photo op in front of the
        Opal Whitely mural. The first 51 miles will be shaded by hills
        and trees, meaning it will be a cool start to the day, so dress
        accordingly.  There will be no restrooms available at the start,
        but there is a vault toilet 3.5 miles into the route at the
        Mosby Creek Trailhead.  There is also a 24hr Chevron truck stop on
        Gateway Blvd just off I-5 exit 174 next to the McDonalds should
        you need a restroom or anything else before the ride.
</dd>
      <dt>Cost</dt>
      <dd>$15 by Thursday 8pm, 2 June.</dd>
      <dt>Finish</dt>
      <dd>by 1am Sunday

      </dd>
      <dt>Route (with cues)</dt>
      <dd><a href="https://ridewithgps.com/routes/31618316">Colliding Rivers Brevet</a>.
      </dd>
    </dl>

    <h3>Route</h3>
    <p>
        Starting in Cottage Grove at the southern tip of the Willamette Valley, you will leave town heading east on the
        Row River Trail (rhymes with cow) before turning onto Sharps Creek Rd. Just before reaching Clark Creek Rd you
        will enter the Umpqua National Forest and start toward the morning’s long steep climb. Reaching the top of the
        climb, you will cross the Calapooya Divide and descend toward the North Umpqua River, which you will follow
        closely for the next 40 miles. Once reaching Sutherlin, it would be wise to top off your water bottles (three
        water bottles would be recommend), as the next 45 miles has limited services and couple of good climbs. The 22
        miles along Tyee Rd has some lovely views on the main stem Umpqua River. Drain may be your last stop for
        food/water (the Lorane Family Market closes at 8pm) </p>

  <h3>Requirements</h3>

    <p>As a condition of participation, you will be asked to
        sign a release and waiver of liability
        at the ride start.  <a href="/static/downloads/Sample-release.pdf">Read it now</a>
        so that you are familiar with it.  Be sure you know what you're getting into and
        are prepared and comfortable with the risks.</p>

  <p>This brevet is sanctioned by Audax Club Parisien and Randonneurs
  USA, and is subject to <a
  href="https://rusa.org/pages/rulesForRiders">RUSA Rules for
  Riders.</a>  If you are not familiar with these rules, please
  read them well in advance so that you can be prepared.  They are
    <emph>not</emph> the same as a club century ride.</p>
    <p>RUSA membership is required to participate. </p>
  <p>
  Your bicycle must be equipped with front and rear lights,
  even if you expect to finish in daylight.  After dusk, you must
  use your lights. 
  You must carry adequate reflective garments, preferably conforming
  to
  <a href="https://rusa.org/reflectivity/">RUSA reflectivity
  guidelines</a>.  If you are observed riding in low light conditions
  with inadequate lights or reflectivity, you will be
  disqualified.</p>
  <p>Familiarize yourself with procedures for riding a brevet,
  incuding collection of times and signatures on the control card.
  The card must be signed and turned in at the finish.</p>
  <h3>What to expect</h3>
  <p>This is a self-supported ride. There is no SAG.  Food and
  drinks are available at markets along the route, but there
      are extensive sections without services, so
      be sure to provision well.  I expect two bottles will be
      enough for most riders in spring weather.  Randonneuring
  rules prohibit personal support vehicles or other
  personal support except at the
  controles, which are marked on the route.  </p>
  <p>This is an all-conditions ride. There will be some kind of
  weather.  Maybe it will be wonderful, 
  and maybe it won't.  Come prepared.  Unless you feel your life or
  health are at risk, ride through.</p>
  <p>Expect this to be somewhat tougher than a typical club century
  ride.
      You need not be a fast rider, but it takes some discipline
   to move efficiently through the controles. Remember,
   the clock doesn't stop, even when you do!  The slower you ride,
  the more important is your &ldquo;controle discipline.&rdquo;</p>
  <p>Most important: Be safe, and enjoy the ride.</p>
</div></div>

<div class="row"><div class="col-md-12">
<figure>
<a href="/events/img/james-dixonville-rd.jpg">
<img src="/events/img/james-dixonville-rd-640px.jpg"
  alt="Robert's Creek Road between Glide and Dillard"
  title="Robert's Creek Road between Glide and Dillard"
  /></a>
<figcaption>Robert's Creek Road (James Taylor 2022)</figcaption>
</figure>
</div></div>

{% endblock %}    
