{% extends "base.html" %}

{% block pagecss %}
<style>
td { padding: 1.5ex; }
figure { text-align: center; }
figcaption { }

img { border-radius: 2ex; }
</style>
{% endblock %}
{% block pagehead %}
Cottage Grove &mdash; Umpqua Loop <br />200k <br />March 30, 2019
{% endblock %}

  
{% block subhead %}{% endblock %}


{% block content %}
    <!--
<div class="row"><div class="col-md-12">
<figure>
<a href="/events/img/FiveRivers-Santiam.jpg">
<img src="/events/img/FiveRivers-Santiam-640px.jpg"
  alt="Santiam River near Sweet Home"
  title="Santiam River near Sweet Home"
  /></a>
<figcaption>Santiam River near Sweet Home (Michal Young)</figcaption>
</figure>
</div></div>
--!>

<div class="row">
<div class="col-md-10">
  <p>Unofficial map and downloadable track:
  <a href="https://ridewithgps.com/routes/29419451">
  https://ridewithgps.com/routes/29419451</a>;<br />
  Cue sheet as <a href="../pdfs/CG-Umpqua-200-2019.pdf">PDF</a><br />
  Contact for more information:
  <a href="mailto:rba@will-rando.org?subject=Alsea
  200">rba@will-rando.org</a></p>
  </p>


  <p>
  <a href="https://forms.gle/VUPFEBbn637VMyyU8"><strong
   >Registration form</strong></a>
  </p>


  <dl>
    <dt>Start</dt>
    <dd>Backstage Bakery, 25 S 7th St, Cottage Grove, OR.</dd>
      <dt>Cost</dt>
      <dd>$5 by Thursday
      March 28, $10 day of ride.</dd>
      <dt>Finish</dt>
      <dd>by 8:30pm at The BREW STATION @ Coast Fork Feed
       106 S 6th St, Cottage Grove..</dd>
    </dl>

    <h3>South to the Land of Umpqua!</h3>
    <p>This very pretty, somewhat remote route was designed by James Taylor.  We
    loop south from Cottage Grove through Drain and Yoncalla to the Umpqua river,
    then back north through Sutherlin.  There is some climbing, but it is not
        extreme.  There is some gravel, but for the most part it is paved.
        Expect it to be a little tougher than your typical 200k brevet.
    There are no services between Oakland (mile 89) and the finish in Cottage Grove,
    although you can find water at a campground along Cottage Grove lake around
    mile 117.  You will probably want to pack some food and fill your bottles
    at the Sutherlin controle, mile 87.6.  In spring weather I expect two bottles
    will be sufficient for most riders.</p>


  <h3>Requirements</h3>
  <p>This brevet is sanctioned by Audax Club Parisien and Randonneurs
  USA, and is subject to <a
  href="https://rusa.org/pages/rulesForRiders">RUSA Rules for
  Riders.</a>  If you are not familiar with these rules, please
  read them well in advance so that you can be prepared.  They are
    <emph>not</emph> the same as a club century ride.</p>
    <p>RUSA membership is <em>not</em> required to participate.  However, only
    RUSA members can buy a nifty medal to commemorate their
  achievement.</p>
  <p>
  Your bicycle must be equipped with front and rear lights,
  even if you expect to finish in daylight.  After dusk, you must
  use your lights. 
  You must carry adequate reflective garments, preferably conforming
  to
  <a href="https://rusa.org/reflectivity/">RUSA reflectivity
  guidelines</a>.  If you are observed riding in low light conditions
  with inadequate lights or reflectivity, you will be
  disqualified.</p>
  <p>Familiarize yourself with procedures for riding a brevet,
  incuding collection of times and signatures on the control card.
  The card must be signed and turned in at the finish.</p>
  <h3>What to expect</h3>
  <p>This is a self-supported ride. There is no SAG.  Food and
  drinks are available at markets along the route, but there
      are sections of up to 40 miles without services, so
      be sure to provision well.  I expect two bottles will be
      enough for most riders in spring weather.  Randonneuring
  rules prohibit personal support vehicles or other
  personal support except at the
  controles, which are marked on the route.  </p>
  <p>This is an all-conditions ride. There will be some kind of
  weather.  Maybe it will be wonderful, 
  and maybe it won't.  Come prepared.  Unless you feel your life or
  health are at risk, ride through.</p>
  <p>Expect this to be somewhat tougher than a typical club century
  ride.
      You need not be a fast rider, but it takes some discipline
   to move efficiently through the controles. Remember,
   the clock doesn't stop, even when you do!  The slower you ride,
  the more important is your &ldquo;controle discipline.&rdquo;</p>
  <p>Most important: Be safe, and enjoy the ride.</p>
</div></div>


{% endblock %}    
