/*
 * Willamette Randonneurs style sheet
 */
.validation-msg {
    color: rgb(200,0,50);
    font-weight: bolder;
    font-style: oblique;
    }

.linkbanner { background-color: rgb(142,169,154);
              min-height: 1ex;
              padding: 1ex;
             }

.linkbanner a { color: rgb(240,240,0); }

.pagehead { background-color: rgb(214,244,214); }
.pagehead h1 { color: rgb(159,0,20);
	       font-family: Copperplate, "Copperplate Gothic Light",
	       "Poiret One", sans-serif;
	     }

.mainblock { background-color: rgb(229,229,229);
             padding-top:  1em;}

.coda { text-align: center;
        size: smaller; }

p.subhead { font-weight: bold; }



