{% extends "base.html" %}

{% block title %}Willamette Randonneurs{% endblock %}

     {% block pagehead %}
     Willamette
      Randonneurs
     <div><img src="static/img/stroke.png"></div>
     {% endblock %}

     {% block subhead %}{% endblock %}

{% block pagecss %}
<style>
td { padding: 1.5ex; }
figure { text-align: center; }
figcaption { }

img { border-radius: 2ex; }
</style>
{% endblock %}
     
{% block content %}

<div class="row"><div class="col-md-12">
<figure>
<a href="events/img/reynolds-mcfarland.jpg">
<img src="events/img/reynolds-mcfarland-640.jpg"
  alt="Photo of Alsea Loop 200k, March 2017 by Jeff Reynolds"
  title="Photo of Alsea Loop 200k, March 2017 by Jeff Reynolds"
  /></a>
<figcaption>Photo: Jeff Reynolds</figcaption>
</figure>
</div></div>

<div class="row">
<div class="col-md-12">
  <p>
  Willamette Randonneurs is a group of randonneurs and those
  interested in randonneuring in the southern Willamette Valley and
  surrounding areas.  Willamette Randonneurs was formed in late 2016,
  with our first official season in calendar year 2017. 
  </p>
  <p>The regional brevet admistrator (RBA) for our region is
  <a href="mailto:rba@will-rando.org?subject=Will-Rando">Michal
  Young</a>.</p>
  <p>Informal news and announcements often appear in our Facebook
  group <a
  href="https://www.facebook.com/groups/500992613373039/"><em>Eugene
  Area Randonneurs</em></a> or on our Facebook page 
  <a
  href="https://www.facebook.com/Willamette-Randonneurs-390709181262527/"><em>Willamette
  Randonneurs</em></a>. For those who prefer email forums to Facebook,
  I will do my best to cross post to our <a
  href="https://groups.google.com/d/forum/will-rando">will-rando</a>
  group, and to respond to posts there. 
</div></div>

<div class="row">
<div class="col-md-12">
  <h2>Rando-what?</h2>
  <p>Randonneuring, also known as audax,  is long-distance, mostly
  unsupported cycling.
  (<a href="https://en.wikipedia.org/wiki/Randonneuring">more</a>)
  </p>
</div></div>



<div class="row">
<div class="col-md-12">
  <h2>2018 Events</h2>
</div></div>
<div class="row">
<div class="col-md-12">
  <table>
    <col style="min-width: 10ex; width: 15%; "/>
    <col style="width: 85%;" />
    <tbody>
    <tr>
      <td>{{ "2018-03-31" | fmtdate }} (postponed one week due to ice)</td>
      <td><a href="events/fiverivers200k">Five Rivers ACP 200km
	brevet</a>.
	This ride starts in Eugene, goes out McKenzie View and Camp
	Creek to Walterville, then north through Mohawk, Marcola, and
	Sweet Home to Lebanon, and back through Brownsville and
	Coburg. It is a fairly (but not entirely) flat route, fully
	paved, with many places to get food along the route. 
      </td>
    </tr>

    <tr>
      <td>April</td>
      <td>No Willamette Randonneurs events.  We recommend the Desert
      River Randonneurs 400k brevet on April 14, the Seattle
      International Randonneurs Fl&egrave;che Northwest on the weekend
      of April 20, and the Oregon
	Randonneurs Three Capes 300k brevet on April 28.  A full
      calendar of Pacific Northwest randonneuring events can be found
      on the <a href="https://goo.gl/wL8vus">Northwest Rando Calendar</a>.
      </td>
    </tr>
    <tr>
      <td>{{ "2018-05-19" | fmtdate }}</td>
      <td> <a href="events/alsea200k">ACP 200km brevet, Alsea Loop.</a>
      This ride starts in Eugene, goes west to Crow and north to
      Monroe, continuing north on Bellfountain before it turns west on
      Decker. It goes west again to Alsea (crossing the coast range
      the first time) where you can get refreshment at John Boy's
      Mercantile.  The highlight of the route is the slow and then
      gradually steeper climb past Alsea Falls and then a rip-roaring
      descent toward Alpine.  The route is quite hilly with a mile or
      so of gravel (which you can avoid at the coast of about 1/2 mile
      bonus distance).  The final third of the route, passing
      again through Monroe and then veering a little east to Alvadore
      and back to Eugene, is flat. 
      </td>
    </tr>
    <tr>
      <td>{{ "2018-06-16" | fmtdate }}</td>
      <td><a href="events/smith300k-2018">ACP 300km brevet, Smith River Loop</a>, near the
	summer solstice so that many riders can finish in daylight.
	The 2018 route will include a spur to the
	beach. 
      </td>
    </tr>
    <tr>
      <td>{{ "2018-07-27" | fmtdate }}</td>
      <td><a href="events/night400-2018">ACP 400km brevet</a>, Friday
	night 8pm start.  
	Eugene to Forest Grove overnight and back to
	Eugene.  Most riders should be able to reach Eugene by
      nightfall Saturday. 
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div><!-- row -->


<div class="row">
<div class="col-md-12">
  <h2>2017 Events</h2>
</div></div>
<div class="row">
<div class="col-md-12">
  <table>
    <col style="min-width: 10ex; width: 15%; "/>
    <col style="width: 85%;" />
    <tbody>
    <tr>
      <td>{{ "2017-03-11" | fmtdate }}</td>
      <td><a href="events/alsea200k-2017.html">Alsea Loop 200k</a>
      </td>
    </tr>

    <tr>
      <td>{{ "2017-06-24" | fmtdate }}</td>
      <td>
      <a href="events/smith300k.html">Smith River Loop 
       300k ACP brevet</a>. 
      </td>
    </tr> 
    <tr>
      <td>{{ "2017-08-20" | fmtdate}}</td>
      <td>
	<a href="events/eclipse.html">Dart to Darkness</a>  Dart Populaire (team ride), 120km to
      Willamina for the total eclipse. 
      </td>
    </tr> 
    </tbody>
  </table>
</div>
</div><!-- row -->

{% endblock %}    
