{% extends "base.html" %}

{% block title %}Willamette Randonneurs{% endblock %}

     {% block pagehead %}
     Willamette
      Randonneurs
     <div><img src="static/img/stroke.png"></div>
     {% endblock %}

     {% block subhead %}{% endblock %}

{% block pagecss %}
<style>
td { padding: 1.5ex; }
figure { text-align: center; }
figcaption { }

img { border-radius: 2ex; }
</style>
{% endblock %}
     
{% block content %}


<div class="row"><div class="col-md-12">
<figure>
<a href="events/img/keithmo-lunar-gravel.jpg">
<img src="events/img/keithmo-lunar-gravel-640.jpg"
  alt="Photo of Lunar 400, July 2018 by Keith Moore"
  title="Photo of Lunar 400, July 2018 by Keith Moore"
  /></a>
<figcaption>Photo: Keith Moore</figcaption>
</figure>
</div></div>


<div class="row">
<div class="col-md-12">
  <p>
  Willamette Randonneurs is a group of randonneurs and those
  interested in randonneuring in the southern Willamette Valley and
  surrounding areas.  Willamette Randonneurs was formed in late 2016,
  with our first official season in calendar year 2017. 
  </p>
  <p>The regional brevet admistrator (RBA) for our region is
  <a href="mailto:rba@will-rando.org?subject=Will-Rando">Michal
  Young</a>.</p>
  <p>Informal news and announcements often appear in our Facebook
  group <a
  href="https://www.facebook.com/groups/500992613373039/"><em>Eugene
  Area Randonneurs</em></a> or on our Facebook page 
  <a
  href="https://www.facebook.com/Willamette-Randonneurs-390709181262527/"><em>Willamette
  Randonneurs</em></a>. For those who prefer email forums to Facebook,
  I will do my best to cross post to our <a
  href="https://groups.google.com/d/forum/will-rando">will-rando</a>
  group, and to respond to posts there. 
</div></div>

<div class="row">
<div class="col-md-12">
  <h2>Rando-what?</h2>
  <p>Randonneuring, also known as audax,  is long-distance, mostly
  unsupported cycling.
  (<a href="https://en.wikipedia.org/wiki/Randonneuring">more</a>)
  </p>
</div></div>


<div class="row">
<div class="col-md-12">
  <h2>2019 Events</h2>
    <p>Dates for our ACP events have been approved, but routes have
  not been finalized. 
    Our first ever 600km event will be the weekend of June 8, and to keep logistics simple
    it will be two loops from Eugene.  We hope to run at least one event starting in
    Cottage Grove, and we hope to work some gravel into the schedule.  We coordinated with
    Seattle International Randonneurs and Desert River Randonneurs to minimize conflicts and
    maximize opportunities for PBP-bound riders to finish a series in time for homologation,
    especially for the longer events.  We expect to add more RUSA events late in the season.</p>
</div></div>
<div class="row">
<div class="col-md-12">
  <table>
      <colgroup>
        <col style="min-width: 10ex; width: 15%; "/>
        <col style="width: 85%;" />
      </colgroup>
    <tbody>
    <tr>
      <td>{{ "2019-02-24" | fmtdate }}  RUSA populaire (100k). (Canceled due to weather)
      </td>
    </tr>
    <tr>
      <td>{{ "2019-03-09" | fmtdate }}
          <a href="/events/2019/fiverivers200k">Five Rivers ACP 200k brevet.</a>
      </td>
    </tr>
    <tr>
      <td>{{ "2019-03-30" | fmtdate }}  ACP 200k. Tentative Cottage Grove start and end, loop south.
      </td>
    </tr>
    <tr>
      <td>{{ "2019-05-25" | fmtdate }}  ACP 400k.  Evening start, tentatively a loop north to Forest Grove.
      </td>
    </tr>
    <tr>
      <td>{{ "2019-06-08" | fmtdate }}  ACP 600K.  Route TBD.
      </td>
    </tr>
    <tr>
      <td>{{ "2019-06-22" | fmtdate }}  ACP 300k. Tentative route is Smith River
      </td>
    </tr>
    <tr>
      <td> September.  Dart (or dart populaire) to coast.  Date and destination to be determined.
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div><!-- row -->

<div class="row">
<div class="col-md-12">
  <h2>2018 Events</h2>
</div></div>
<div class="row">
<div class="col-md-12">
  <table>
    <col style="min-width: 10ex; width: 15%; "/>
    <col style="width: 85%;" />
    <tbody>
    <tr>
      <td>{{ "2018-03-31" | fmtdate }} </td>
      <td><a href="events/fiverivers200k">Five Rivers ACP 200km
	brevet</a>.
      </td>
    </tr>

    <tr>
      <td>{{ "2018-05-19" | fmtdate }}</td>
      <td> <a href="events/alsea200k">ACP 200km brevet, Alsea Loop.</a>
      </td>
    </tr>
    <tr>
      <td>{{ "2018-06-16" | fmtdate }}</td>
      <td><a href="events/smith300k-2018">ACP 300km brevet, Smith River Loop</a>.
      </td>
    </tr>
    <tr>
      <td>{{ "2018-07-27" | fmtdate }}</td>
      <td><a href="events/night400-2018">ACP 400km brevet (Lunar 400)</a>, Friday
	night 8pm start.
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div><!-- row -->


<div class="row">
<div class="col-md-12">
  <h2>2017 Events</h2>
</div></div>
<div class="row">
<div class="col-md-12">
  <table>
    <col style="min-width: 10ex; width: 15%; "/>
    <col style="width: 85%;" />
    <tbody>
    <tr>
      <td>{{ "2017-03-11" | fmtdate }}</td>
      <td><a href="events/alsea200k-2017.html">Alsea Loop 200k</a>
      </td>
    </tr>

    <tr>
      <td>{{ "2017-06-24" | fmtdate }}</td>
      <td>
      <a href="events/smith300k.html">Smith River Loop 
       300k ACP brevet</a>. 
      </td>
    </tr> 
    <tr>
      <td>{{ "2017-08-20" | fmtdate}}</td>
      <td>
	<a href="events/eclipse.html">Dart to Darkness</a>  Dart Populaire (team ride), 120km to
      Willamina for the total eclipse. 
      </td>
    </tr> 
    </tbody>
  </table>
</div>
</div><!-- row -->

<div class="row">&nbsp;</div>

<div class="row"><div class="col-md-12">
<figure>
<a href="events/img/reynolds-mcfarland.jpg">
<img src="events/img/reynolds-mcfarland-640.jpg"
  alt="Photo of Alsea Loop 200k, March 2017 by Jeff Reynolds"
  title="Photo of Alsea Loop 200k, March 2017 by Jeff Reynolds"
  /></a>
<figcaption>Photo: Jeff Reynolds</figcaption>
</figure>
</div></div>


{% endblock %}    
