{% extends "base.html" %}

{% block title %}Willamette Randonneurs{% endblock %}

{% block pagehead %}
    Willamette
    Randonneurs
    <div><img src="static/img/stroke.png"></div>
{% endblock %}

{% block subhead %}{% endblock %}

{% block pagecss %}
    <style>
        td {
            padding: 1.5ex;
        }

        figure {
            text-align: center;
        }

        figcaption {
        }

        img {
            border-radius: 2ex;
        }
    </style>
{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-md-12">
            <figure>
                <a href="events/img/keithmo-lunar-gravel.jpg">
                    <img src="events/img/keithmo-lunar-gravel-640.jpg"
                         alt="Photo of Lunar 400, July 2018 by Keith Moore"
                         title="Photo of Lunar 400, July 2018 by Keith Moore"
                    /></a>
                <figcaption>Photo: Keith Moore</figcaption>
            </figure>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
                Willamette Randonneurs is a group of randonneurs and those
                interested in randonneuring in the southern Willamette Valley and
                surrounding areas. Willamette Randonneurs was formed in late 2016,
                with our first official season in calendar year 2017.
            </p>
            <p>The regional brevet admistrator (RBA) for our region is
                <a href="mailto:rba@will-rando.org?subject=Will-Rando">Michal
                    Young</a>.</p>
            <p>Informal news and announcements often appear in our Facebook
                group <a
                        href="https://www.facebook.com/groups/500992613373039/"><em>Eugene
                    Area Randonneurs</em></a> or on our Facebook page
                <a
                        href="https://www.facebook.com/Willamette-Randonneurs-390709181262527/"><em>Willamette
                    Randonneurs</em></a>. For those who prefer email forums to Facebook,
                I will do my best to cross post to our <a
                        href="https://groups.google.com/d/forum/will-rando">will-rando</a>
                group, and to respond to posts there.
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Rando-what?</h2>
            <p>Randonneuring, also known as audax, is long-distance, mostly
                unsupported cycling.
                (<a href="https://en.wikipedia.org/wiki/Randonneuring">more</a>)
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>COVID  measures spring 2022</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>We believe we can hold a full brevet season safely in 2022, with
                reasonable precautions.  We are monitoring conditions and will make
                adjustments as warranted.  Here are our current practices:
            </p>
            <ul>
                <li>Riders must register 24 hours before the event. This is so that
                    we will have an accurate count of riders and can arrange a staggered
                    start if necessary. There will be no day-of-event registration.
                </li>
                <li>If the number of registered riders is large, we will arrange
                    a staggered start.
                    When you register, please provide a telephone number at which we could
                    reach you to arrange a start time if necessary.
                </li>
                <li>We ask riders to ride in small groups and
                    mask when entering establishments on the ride.
                </li>
                <li>Electronic proof of passage (GPX file, RWGPS or Strava link) is
                    encouraged. Photos will also be accepted. If you prefer information
                    controls, let me know to print a brevet card for you. Otherwise
                    you will be given a cue sheet but no brevet card.
                </li>
                <li>There will be no indoor gathering after the ride. We will arrange
                    outdoor social gatherings when practical (e.g., depending on weather).
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
    <div class="col-md-12">
            <h2>2022 events</h2>
        </div>
    </div>
        <div class="row">
        <div class="col-md-12">
            <table>
                <colgroup>
                    <col style="min-width: 10ex; width: 15%; "/>
                    <col style="width: 85%;"/>
                </colgroup>
                <tbody>
                <tr>
                    <td>{{ "2022-03-26" | fmtdate }}</td>
                    <td> ACP 200k brevet.
                        7:30am start outside Full City Coffee, 842 Pearl Street, Eugene.
                        <a href="https://ridewithgps.com/routes/26896902">Five Rivers</a> 200k (ACP).
                        Eugene to Walterville, Sweet Home, Lebanon, Brownsville, Eugene.
                        $8 charge.

                    </td>
                </tr>

            <tr>
                    <td>{{ "2022-04-16" | fmtdate }}</td>
                <td> <a href="events/2022/colliding-rivers-200k.html">Colliding Rivers ACP 200k brevet.</a>
                        7:00am start at Henry's Bakery, 145 Myrtle Street,
                        Sutherlin, Oregon.
                        <a href="https://ridewithgps.com/routes/31618316">Colliding Rivers</a> 200k (ACP).
                         $8 charge.  (RUSA membership required)
                    </td>
            </tr>

             <tr>
                    <td>{{ "2022-06-04" | fmtdate }}</td>
                 <td>
                     <a href="events/2022/umpqua-300k.html">Umpqua 300k ACP brevet.</a>
                     5:00am start at
                     All American City Square (aka Opal Whitely Park), 711 E Main Street, Cottage Grove, OR, across from
                     the Axe and Fiddle and the Bookmine. Please arrive at least ten minutes early for announcements
                     about the ride, to sign waivers and for a photo op in front of the Opal Whitely mural.
                     $15 charge.
                 </td>
            </tr>


            <tr>
                    <td>{{ "2022-06-11" | fmtdate }}</td>
                    <td>
                        <a href="events/2022/smith-300k.html">
                        Smith River 300k ACP brevet</a>
                        and
                        <a href="events/2022/smith-600k.html">
                        Smith River 600k ACP brevet</a>
                        Eugene.  5:30am start from 15th and Willamette, Eugene.
                        <a href="https://forms.gle/6v6t9DzJ62RQ8SuA7">Register</a>
                        by Thursday, June 9.  $15 ride fee.
                    </td>
            </tr>

                <tr>
                    <td>{{ "2022-07-15" | fmtdate }}</td>
                    <td>
                        Lunar 400 (ACP 400k brevet) and Mezza Luna
                        (200k brevet),
                        Friday night 8pm start near the full moon.
                        Lunar 400 loops from Eugene to Forest Grove, with
                        about 8 miles gravel on the return.  Mezza Luna is
                        one way, Eugene to Forest Grove.
                    </td>
                </tr>
                </tbody>
            </table>
            <p>Gravel?  Gravel!   Watch this space for a 125km gravel
            brevet.</p>
        </div>
        </div>


    <div class="row">
        <div class="col-md-12">
            <h2>2021 events</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>March events were canceled.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table>
                <colgroup>
                    <col style="min-width: 10ex; width: 15%; "/>
                    <col style="width: 85%;"/>
                </colgroup>
                <tbody>
                <tr>
                    <td>{{ "2021-04-03" | fmtdate }}</td>
                    <td> ACP 200k brevet.
                        7:30am start outside Full City Coffee, 842 Pearl Street, Eugene.
                        <a href="https://ridewithgps.com/routes/26896902">Five Rivers</a> 200k (ACP).
                        Eugene to Walterville, Sweet Home, Lebanon, Brownsville, Eugene.<br/>
                        Special measures in effect to minimize spread of virus:
                        All controls are photo controls or electronic proof of passage.
                        Minimize exposure in communities we pass through.
                        Bring a drop bag with lunch to the start; it will be delivered to you in Lebanon. We
                        will not have our usual sit-down meal at the Safeway, nor a sit down-meal at
                        the end. Register by Friday noon. $8 charge.
                    </td>
                </tr>
                <tr>
                    <td>{{ "2021-04-17" | fmtdate }}</td>
                    <td>RUSA populaire (100k).
                        <a href="events/2021/lunch-in-veneta">Lunch in Veneta</a>.
                        8:30am start in front of Wandering Goat Coffee, 268 Madison St,
                        Eugene 97402.  <a href="https://forms.gle/h4BSZRFmhi2fdNtp7">Register</a>
                        by 4pm Friday.
                    </td>
                </tr>
                <tr>
                    <td>{{ "2021-05-22" | fmtdate }}</td>
                    <td> <a href="events/alsea200k">ACP 200km brevet, Alsea Loop.</a>
                        7:30am start in front of Market of Choice, 29th and Willamette, Eugene.
                        <a href="https://forms.gle/hVWzdiwrzqShASwh7">Registration is open.</a>
                        <em>This
                        replaces the Umpqua 300 for 2021.  We hope to premier the Umpqua 300 in 2022.</em>
                    </td>
                </tr>
                <tr>
                    <td>{{ "2021-06-19" | fmtdate }}</td>
                    <td>
                        <a href="events/2021/smith-300k.html">Smith River 300k</a>
                        and
                        <a href="events/2021/smith-600k.html">Smith River 600k</a>
                        go through Florence and Reedsport, returning on Smith River Road.
                        300k returns over Wolf Creek to Eugene. 600k continues east to
                        Cottage Grove then north to the overnight in Eugene, then
                        north through Brownsville to Independence and back to Eugene.
                        Near solstice for maximum daylight.
                        <a href="https://forms.gle/bsDU2yj1v6wfQkta7">Register</a> by
                        Thursday, June 17.
                    </td>
                </tr>
                <tr>
                    <td>{{ "2021-08-20" | fmtdate }}</td>
                    <td> Lunar 400 (ACP 400k brevet).
                        Friday night 8pm start.
                         Near the full moon.
                        Stay tuned for possible 200k option, Eugene to Forest Grove.
                        Route is <a href="https://ridewithgps.com/routes/27932473">
                            https://ridewithgps.com/routes/27932473
                        </a> but note the market in Dayton is no longer open all night.
                        I am looking for restroom options between Salem and Forest Grove
                        and may alter the route if necessary to make one available.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div><!-- row -->

    <div class="row">
        <div class="col-md-12">
            <h2>2020 events</h2>
        </div>
    </div>


    <div class="row">
    <div class="col-md-12">

    <p><em>Due to the Corona virus pandemic, rides in summer 2020 were canceled.
    </em></p>
    </div></div>


    <div class="row">
        <div class="col-md-12">
            <table>
                <colgroup>
                    <col style="min-width: 10ex; width: 15%; "/>
                    <col style="width: 85%;"/>
                </colgroup>
                <tbody>
                <tr>
                    <td>{{ "2020-02-22" | fmtdate }}</td>
                    <td> RUSA populaire (100k).
                        <a href="https://ridewithgps.com/routes/29335242">
                            Lunch in Veneta</a>.
                    </td>
                </tr>
                <tr>
                    <td>{{ "2020-03-08" | fmtdate }}</td>
                    <td> RUSA populaire (100k).
                        International Women's Day.
                    </td>
                </tr>
                <tr>
                    <td>{{ "2020-03-21" | fmtdate }}</td>
                    <td>
                        <a href="https://ridewithgps.com/routes/26896902">Five Rivers</a> 200k (ACP).
                    </td>
                </tr>
                <tr>
                    <td>
                        <del>{{ "2020-03-28" | fmtdate }}</td>
                    <td> Colliding Rivers 200k (ACP).
                            Sutherlin to Glide and return.
                            <a href="https://ridewithgps.com/routes/31618316">Route</a> (designed by James Taylor).
                        </del>
                    </td>
                </tr>
                <tr>
                    <td>
                        <del>{{ "2020-05-09" | fmtdate }}</td>
                    <td> Evening start 100k
                            RUSA populaire. (Fl&eacute;che tuneup opportunity.)
                        </del>
                    </td>
                </tr>
                <tr>
                    <td>
                        <del>{{ "2020-05-15" | fmtdate }}</td>
                    <td> Fl&eacute;che weekend
                            (<a href="https://www.seattlerando.org/content.aspx?page_id=4001&club_id=928629&action=cira&vm=MonthView">
                                Seattle International Randonneurs</a>)
                        </del>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ "2020-05-24" | fmtdate }}</td>
                    <td><del>
                            <a href="https://ridewithgps.com/routes/1810086">Alsea Loop 200k</a> (ACP).
                        </del>
                    </td>
                </tr>
                <tr>
                    <td>{{ "2020-06-06" | fmtdate }}</td>
                    <td><del> Yippee Tyee Ty-yay 200k.
                            (Cottage Grove - Tyee loop)
                        </del>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ "2020-06-20" | fmtdate }}</td>
                    <td><del> Smith River 300k (ACP),
                            Smith River 600k (ACP).
                        </del>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ "2020-07-18" | fmtdate }} </td>
                    <td><del>ACP 300k, route TBD.</del>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ "2020-07-31" | fmtdate }} </td>
                    <td><del>Lunar 400k (ACP).
                        </del>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div><!-- row -->


    <div class="row">
        <div class="col-md-12">
            <h2>2019 Events</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table>
                <colgroup>
                    <col style="min-width: 10ex; width: 15%; "/>
                    <col style="width: 85%;"/>
                </colgroup>
                <tbody>
                <tr>
                    <td>{{ "2019-02-24" | fmtdate }}</td>
                    <td> RUSA populaire (100k).
                    (Canceled due to weather)
                    </td>
                </tr>
                <tr>
                    <td>{{ "2019-03-09" | fmtdate }}</td>
                    <td>
                        <a href="/events/2019/fiverivers200k">Five Rivers ACP 200k brevet.</a>
                    </td>
                </tr>
                <tr>
                    <td>{{ "2019-03-30" | fmtdate }}</td>
                    <td> <a href="events/2019/cg-umpqua-200k">Cottage Grove &mdash; Umpqua
                        Loop</a> ACP 200k.
                        Begins and ends in Cottage Grove and loops south through Drain, Yoncalla, and Tyee, along the
                        Umpqua river, returning north through Sutherlin.
                    </td>
                </tr>
                <tr>
                    <td>{{ "2019-05-25" | fmtdate }}</td>
                    <td> <a href="events/2019/night400-2019">
                        Evening start 400k </a> (with Monday holiday to recover). Loop north to Forest Grove,
                        beginning and ending in downtown Eugene.

                    </td>
                </tr>
                <tr>
                    <td>{{ "2019-06-08" | fmtdate }}</td>
                    <td> <a href="events/2019/smith-600k">Smith River ACP 600K</a>. Two
                        loops from downtown Eugene.
                        The first loop will be to
                        Florence, along the coast south
                        to Reedsport, back in via Smith River Road and continuing to Lorane and Cottage Grove, then
                        north
                        to Eugene, about 360k. Second loop will be north to Brownsville, Lebanon, Independence, then
                        south
                        through Albany, Harrisburg, Coburg back to Eugene, about 240k. 5am Saturday start
                        from Mandy's 24-hour diner in downtown Eugene.
                    </td>
                </tr>
                <tr>
                    <td>{{ "2019-06-22" | fmtdate }}</td>
                    <td> <a href="events/2019/smith-300k">Smith River ACP 300k</a>.
                        A 300km (187 mile) loop from Eugene to Florence via Triangle Lake, south to Reedsport,
                        returning over Smith River Road and Wolf Creek to Eugene, with a staffed control
                        at Oxbow Summit. 5am Saturday start from Mandy's 24-hour diner in downtown Eugene.
                        Finish is at Falling Sky until it closes at 11pm, then at Mandy's.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div><!-- row -->

    <div class="row">
        <div class="col-md-12">
            <h2>2018 Events</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table>
                <col style="min-width: 10ex; width: 15%; "/>
                <col style="width: 85%;"/>
                <tbody>
                <tr>
                    <td>{{ "2018-03-31" | fmtdate }} </td>
                    <td><a href="events/fiverivers200k">Five Rivers ACP 200km
                        brevet</a>.
                    </td>
                </tr>

                <tr>
                    <td>{{ "2018-05-19" | fmtdate }}</td>
                    <td><a href="events/alsea200k">ACP 200km brevet, Alsea Loop.</a>
                    </td>
                </tr>
                <tr>
                    <td>{{ "2018-06-16" | fmtdate }}</td>
                    <td><a href="events/smith300k-2018">ACP 300km brevet, Smith River Loop</a>.
                    </td>
                </tr>
                <tr>
                    <td>{{ "2018-07-27" | fmtdate }}</td>
                    <td><a href="events/night400-2018">ACP 400km brevet (Lunar 400)</a>, Friday
                        night 8pm start.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div><!-- row -->


    <div class="row">
        <div class="col-md-12">
            <h2>2017 Events</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table>
                <col style="min-width: 10ex; width: 15%; "/>
                <col style="width: 85%;"/>
                <tbody>
                <tr>
                    <td>{{ "2017-03-11" | fmtdate }}</td>
                    <td><a href="events/alsea200k-2017.html">Alsea Loop 200k</a>
                    </td>
                </tr>

                <tr>
                    <td>{{ "2017-06-24" | fmtdate }}</td>
                    <td>
                        <a href="events/smith300k.html">Smith River Loop
                            300k ACP brevet</a>.
                    </td>
                </tr>
                <tr>
                    <td>{{ "2017-08-20" | fmtdate }}</td>
                    <td>
                        <a href="events/eclipse.html">Dart to Darkness</a> Dart Populaire (team ride), 120km to
                        Willamina for the total eclipse.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div><!-- row -->

    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col-md-12">
            <figure>
                <a href="events/img/reynolds-mcfarland.jpg">
                    <img src="events/img/reynolds-mcfarland-640.jpg"
                         alt="Photo of Alsea Loop 200k, March 2017 by Jeff Reynolds"
                         title="Photo of Alsea Loop 200k, March 2017 by Jeff Reynolds"
                    /></a>
                <figcaption>Photo: Jeff Reynolds</figcaption>
            </figure>
        </div>
    </div>


{% endblock %}    
