{% extends "base.html" %}

{% block pagecss %}
<style>
td { padding: 1.5ex; }
figure { text-align: center; }
figcaption { }

img { border-radius: 2ex; }
</style>
{% endblock %}
{% block pagehead %}
Alsea Loop 200k Permanent
{% endblock %}

  
{% block subhead %}Based on the Alsea Loop brevet,  March 11, 2017{% endblock %}



{% block content %}
<div class="row"><div class="col-md-12">
<figure>
<a href="img/alsea-mcfarland.jpg">
<img src="img/alsea-mcfarland-640.jpg"
  alt="Photo of Gabe and Jeff on McFarland Road"
  title="Photo of Gabe and Jeff on McFarland Road"
  /></a>
<figcaption>Photo: Chris Archibald</figcaption>
</figure>
</div></div>

<div class="row">
<div class="col-md-10">
  <p>Unofficial map and downloadable track:
  <a href="https://ridewithgps.com/routes/1810086">
  https://ridewithgps.com/routes/1810086
  </a> <br />
  Cue sheet <a href="docs/Alsea-cues.pdf">as PDF</a> or
  <a href="docs/Alsea-cues.xlsx">as Excel sheet</a><br />
  RUSA <a
  href="https://rusa.org/cgi-bin/permview_GF.pl?permid=1726">database
  record</a> <br />
  Permanent owner / Contact for more information: Michal Young
  <a href="mailto:rba@will-rando.org?subject=Alsea
  200">rba@will-rando.org</a></p>
  </p>

<p>
This 204k Randonneurs USA permanent brevet, #1726,  is a loop
  primarily north and west of Eugene with a fair amount of climbing
  (you cross the coast range twice) and some lovely views.  The
  highlight is  South Fork road from near Alsea past Alsea Falls to
  Alpine, which will be familiar to many local riders from the 
  Alpine Century, but there are plenty of other nice views along the
  way.  The last 25 miles are flat. 
</p>

<p>
Note: Logging trucks use some of these roads (Territorial Road in
  particular) on weekdays.  I have not encountered them on a Saturday,
  but I cannot rule that out.  The route is safest and most pleasant
  on a Sunday.   Consider carefully whether you feel safe sharing a
  rural road with logging trucks, and schedule your ride accordingly.   
  </p>

  <h3>Registration</h3>
  
  <p><em>There is no fee to ride this permanent for RUSA credit, but
  you must be a current RUSA member.</em>  To register, print out the
  registration form (<a href="docs/Alsea-regform.pdf">pdf</a> or
  <a href="docs/Alsea-regform.doc">MS Word</a>), fill it out,
  and scan or take a picture of the signed form. Email the scan or
  picture to <a href="mailto:rba@will-rando.org?subject=Alsea
  200">rba@will-rando.org</a>. If everything is in order, I will
  reply with a PDF of your brevet card for you to print. Please allow
  a few days for a response. 
  </p>


  <h3>Photos</h3>
  <p><a href="https://goo.gl/qC637T">Google photo album</a> by Chris
  Archibald</a></p>
  <p><a href="https://goo.gl/MpDXDs">Google photo album</a> by Jeff
  Reynolds</a></p> 

  <h3>Route details</h3>

 <p>
The Alsea loop begins in south-west Eugene (the shopping center at
  29th and Willamette) and pops over the valley rim on Lorane Highway,
  on the way west/south-west way to the tiny town of Crow.  Stop at
  the tiny Crow Market for a bite and to have your brevet card signed
  or get a receipt.  
  </p>

  <p>Just beyond John-Boy's Market, at the Post Office, you'll turn
  left on Alsea-Deadwood highway, and just a mile south you'll turn
  left again onto South Fork Road, toward Alsea Falls.  One of the
  first sights on South Fork is the Alsea Acres goat farm, which makes
  wonderful chevre (goat cheese), available at the Eugene Farmers'
  Market on Saturdays in summer.   Then you'll start climbing back
  over the coast range, but it's not as steep as the climb from east
  to west.   Alsea Falls is worth a short stop.   When you summit, the
  road turns steeply downward.  This is a screaming descent ... do be
  careful in the curves.  When you level out again, you're almost to
  Alpine, and soon on you're way back to Monroe (not a control on the
  return).   The climbing is almost over.  Monroe is your last chance
  for restrooms with running water for quite a while, so use them if
  you can. </p> 

<p>
From Monroe you retrace your route  a few miles back on Territorial,
but this time you'll turn left on Ferguson.  Answer the
question on your brevet card when you reach Washburn, then take
Washburn right (south) to High Pass.</p> 

<p>Now it's flat and pretty straight and, frankly, pretty boring
compared to what you've been through ... sorry, can't be helped.
Washburn takes you to High Pass road, where you turn left (east)
toward Junction City.  High Pass is a fairly busy road, but you'll
only be on it for a mile.  Before Junction City you'll turn right on
Dorsey Lane, which looks too small to possibly be on the way to
anywhere, but it really is on the way to Alvadore. And maybe Alvadore
isn't anywhere, but there are a couple convenience stores catering to
visitors to Fern Ridge Reservoir, and you should stop at one of them
to get a receipt.</p>

<p>
More flat ... I've tried to avoid routing you much along the busy
Clear Lake road, but you'll have to endure half a mile of that
shoulder before you turn right again onto Fir Butte, which takes you
to Royal, which takes you to the beginning of the Fern Ridge Bicycle
Path, at the intersection of Royal with Greenhill Road (just several
yards south on Greenhill).  Now this is more like it ... a nice
separated multi-use path all the way back into Eugene.   Where the
path to Roosevelt splits off to the left, you bear right (crossing the
canal) toward down town.  Watch for pedestrians and runners, and keep
an eye out for heron and cranes along the canal. </p>

<p>
You come off the Fern Ridge path just past Chambers street, across the
canal on a little bridge, and then across a larger bridge that crosses
18th Ave and through the disc golf course, ending in a school parking
lot.  Work your way left through the parking lot to a path that takes
you out to Polk Street, then follow cues to work your way back to the
starting point at 29th and Willamette.  In addition to the food
establishments in the shopping center, there are food and restrooms in
Market of Choice, the large grocery store.</p> 

{% endblock %}    
