{% extends "base.html" %}

{% block pagecss %}
<style>
td { padding: 1.5ex; }
figure { text-align: center; }
figcaption { }

img { border-radius: 2ex; }
</style>
{% endblock %}
{% block pagehead %}
Alsea Loop 200k
{% endblock %}

  
{% block subhead %}{% endblock %}



{% block content %}
<div class="row"><div class="col-md-12">
<figure>
<a href="img/alsea-mcfarland.jpg">
<img src="img/alsea-mcfarland-640.jpg"
  alt="Photo of Gabe and Jeff on McFarland Road"
  title="Photo of Gabe and Jeff on McFarland Road"
  /></a>
<figcaption>Photo: Chris Archibald</figcaption>
</figure>
</div></div>

<div class="row">
<div class="col-md-10">
  <p>Unofficial map and downloadable track:
  <a href="https://ridewithgps.com/routes/1810086">
  https://ridewithgps.com/routes/1810086
  </a>;
  Cue sheet <a href="pdfs/Alsea-2018.pdf">as PDF</a>or
  <a href="pdfs/Alsea-as-brevet.xlsx">as Excel</a>.<br />
  Contact for more information:
  <a href="mailto:rba@will-rando.org?subject=Alsea
  200">rba@will-rando.org</a></p>
  </p>

<p><a href="https://forms.gle/7VBx2RVfWAtpzqZr9">Registration form</a>.
    Register by Thursday evening before the ride.
Current RUSA membership is required for brevets in 2022.
</p>

  <dl>
  <dt>Start</dt>
  <dd>7:00 am at Market of Choice, in the shopping center at 29th and
  Willamette.  Please arrive at least 10 minutes before start.</dd>
  <dt>Cost</dt>
  <dd>$15. No day-of-ride registration.</dd>
  <dt>Finish</dt>
  <dd>by 8:30pm at Market of Choice</dd>
  <dt>Parking</dt>
  <dd>There is a large parking lot in the shopping center.  There are
  restrooms in Market of Choice, which opens at 7.
  </dd>
  </dl>


  <h3>Photos from 2017</h3>
  <p><a href="https://goo.gl/qC637T">Google photo album</a> by Chris
  Archibald</a></p>
  <p><a href="https://goo.gl/MpDXDs">Google photo album</a> by Jeff
  Reynolds</a></p> 

   
  <h3>Requirements</h3>
 
  <p>This brevet is sanctioned by Audax Club Parisien and Randonneurs
  USA, and is subject to <a
  href="https://rusa.org/pages/rulesForRiders">RUSA Rules for
  Riders.</a>  If you are not familiar with these rules, please
  read them well in advance so that you can be prepared.  They are
  <emph>not</emph> the same as a club century ride.</p>
  <p>
  Your bicycle must be equipped with front and rear lights,
  even if you expect to finish in daylight.  After dusk, you must
  use your lights. 
  You must carry adequate reflective garments, preferably conforming
  to
  <a href="https://rusa.org/reflectivity/">RUSA reflectivity
  guidelines</a>.  If you are observed riding in low light conditions
  with inadequate lights or reflectivity, you will be
  disqualified.</p>
  <p>Familiarize yourself with procedures for riding a brevet,
  incuding collection of times and signatures on the control card.
  The card must be signed and turned in at the finish.</p>

    <h3>What to expect</h3>
  <p>This is a self-supported ride. There is no SAG.  Food and
  drinks are available at markets along the route. Randonneuring
  rules prohibit personal support vehicles or other
  personal support except at the
  controles, which are marked on the route.  </p>
  <p>This is an all-conditions ride. There will be some kind of
  weather.  Maybe it will be wonderful, 
  and maybe it won't.  Come prepared.  Unless you feel your life or
health are at risk, ride through.</p>

  <p>Expect this to be a little tougher than a typical club century
  ride. You need not be a fast rider, but it takes some discipline
   to move efficiently through the controles. Remember,
   the clock doesn't stop, even when you do!  The slower you ride,
  the more important is your &ldquo;controle discipline.&rdquo;</p>
  <p>Most important: Be safe, and enjoy the ride.</p>
</div></div>


{% endblock %}    
