{% extends "base.html" %}

{% block pagecss %}
<style>
td { padding: 1.5ex; }
figure { text-align: center; }
figcaption { }

img { border-radius: 2ex; }
</style>
{% endblock %}
{% block pagehead %}
Alsea Loop 200k, March 11, 2017
{% endblock %}

  
{% block subhead %}{% endblock %}



{% block content %}
<div class="row"><div class="col-md-12">
<figure>
<a href="img/alsea.jpg">
<img src="img/alsea-640.jpg"
  alt="Photo of group permanent on Alsea Loop; North Fork Road"
  title="Photo of group permanent on Alsea Loop; North Fork Road"
  /></a>
<figcaption>Photo: Asta Chastain</figcaption>
</figure>
</div></div>

<div class="row">
<div class="col-md-10">
  <h3>March 11, 2017</h3>
  <p>Ride starts at Market of Choice, 29th and Willamette.
  Check in 7:00am; depart 7:30am.</p>
  <p><a href="pdfs/Alsea_200k.pdf">Cue sheet</a>
     (subject to revision)</p>
  <p>Unofficial map and downloadable track:
  <a href="https://ridewithgps.com/routes/1810086">
  https://ridewithgps.com/routes/1810086
  </a>
  </p>
  <p><a href="https://goo.gl/forms/kRWDUBxPTpzmvlrq2">Registration form</a></p>
  <table>
    <caption>Ride fees for Alsea Loop 200k</caption>
    <thead>
      <tr>
	<td>&nbsp;</td> <td>Advance</td>  <td>Day of</td>
      </tr>
      </thead>
    <tbody>
    <tr><td>RUSA member</td> <td>$5</td>  <td>$10</td></tr>
    <tr><td>Non-member</td> <td>$10</td>  <td>$15</td> </tr>
    </tbody>
  </table>
  <p>Non-refundable advance rates are available
  for complete registration and payment
  3 days in advance of ride. Within 96 hours of ride start,
  day of ride fee applies.</p>
  <p>Current membership in Randonneurs USA (RUSA) saves
  insurance costs, which is reflected in the ride fee.
  RUSA members are also eligible to purchase an ACP medal
  upon successful completion of this ACP-affiliated brevet.
  You can join or renew at <a
  href="https://rusa.org/pages/memberservices">
  https://rusa.org/pages/memberservices</a>.</p>
  <p>Should you do this? Yes.</p>
  <p>Contact for more information:
  <a href="mailto:rba@will-rando.org?subject=Alsea
  200">rba@will-rando.org</a></p>
  <h3>Requirements</h3>
  <p>This brevet is sanctioned by Audax Club Parisien and Randonneurs
  USA, and is subject to <a
  href="https://rusa.org/pages/rulesForRiders">RUSA Rules for
  Riders.</a>  If you are not familiar with these rules, please
  read them well in advance so that you can be prepared.  They are
  <emph>not</emph> the same as a club century ride.</p>
  <p>
  Your bicycle must be equipped with front and rear lights,
  even if you expect to finish in daylight.  After dusk, you must
  use your lights. 
  You must carry adequate reflective garments, preferably conforming
  to
  <a href="https://rusa.org/reflectivity/">RUSA reflectivity
  guidelines</a>.  If you are observed riding in low light conditions
  with inadequate lights or reflectivity, you will be
  disqualified.</p>
  <p>Familiarize yourself with procedures for riding a brevet,
  incuding collection of times and signatures on the control card.
  The card must be signed and turned in at the finish.</p>
  <h3>What to expect</h3>
  <p>This is a self-supported ride. There is no SAG.  Food and
  drinks are available at markets along the route. Randonneuring
  rules prohibit personal support vehicles or other
  personal support except at the
  controles, which are marked on the route.  </p>
  <p>This is an all-conditions ride. There will be some kind of
  weather.  Maybe it will be wonderful, 
  and maybe it won't.  Come prepared.  Unless you feel your life or
  health are at risk, ride through.</p>
  <p>Expect this to be a little tougher than a typical club century
  ride. You need not be a fast rider, but it takes some discipline
   to move efficiently through the controles. Remember,
   the clock doesn't stop, even when you do!  The slower you ride,
  the more important is your &ldquo;controle discipline.&rdquo;</p>
  <p>Most important: Be safe, and enjoy the ride.</p>
</div></div>


{% endblock %}    
