{% extends "base.html" %}

{% block pagecss %}
<style>
td { padding: 1.5ex; }
figure { text-align: center; }
figcaption { }

img { border-radius: 2ex; }
</style>
{% endblock %}
{% block pagehead %}
Dart to Darkness, 120k Dart Populaire, August 20, 2017
{% endblock %}

  
{% block subhead %}{% endblock %}



{% block content %}
 <div class="row"><div class="col-md-12">
   <figure>
 <a href="img/Solar_eclipse_1999_4_NR.jpg">
 <img src="img/Solar_eclipse_400px.jpg"
   alt="1999 Solar Eclipse"
   title="1999 Solar Eclipse"
   /></a>
 <figcaption>1999 Photo by <a href="https://lucnix.be/">Luc
 Viatour</a></figcaption> 
 </figure>
</div></div>



 <div class="row"><div class="col-md-12">
</div></div>


<div class="row">
<div class="col-sm-8">
<h3>Go to the dark side</h3>
  <p>Specifically, into the zone of totality.  We will ride Sunday, August 20
  to Willamina, camp out at the farm of Susan Otcenas and her partner
  Jeff Mendenhall, and experience the total eclipse Monday morning.
  </p>
<h3>Team Event</h3>
  <p>A Dart is a team event.  Your team may consist of 3 to 5 machines
  (so theoretically it could have 10 riders if everyone was on
  tandems).  At least three must finish together, and only those
  finishing together are deemed to have finished successfully.  There
  are <a
  href="https://rusa.org/Download/dartpopulairerules-2012-10.pdf">lots
  of other rules</a>, but the basics are:  Ride together, at least
  120km on a route you design and submit for approval, for 8 hours total
  starting 9am with at least the last 25km in the last two hours.
  </p>

  <h3>The Route</h3>
  <p>You design it!  You must submit your route for review and approval with
  your entry form.  The usual randonneuring rules apply to route
  design (e.g., you must use controls to prevent short-cutting).
  Information controls cannot be used on a dart, and it may be
  difficult to find services at suitable locations, but you may
  propose photo controls at identifiable landmarks.
  </p>

 <div class="row"><div class="col-md-12">
   <h3>Details and Registration</h3>
   <p>Details and registration forms are <a
   href="https://drive.google.com/file/d/0B_z9fCafBb2XcjBIcUdsT1o4cW8/view">here</a>. The
   fee is $35 per rider or guest, to cover expenses of cookout,
   portable toilet, etc.  Registration deadline is August 10, but it
   is a good idea to register sooner because capacity is limited and
   registration will be accepted on a first-come, first-serve basis if
   everyone cannot be accomodated. </p>
</div> <!-- column -->
</div> <!-- row -->

 <div class="row"><div class="col-md-12">

  <h3>Requirements</h3>

  <p>This brevet is sanctioned by Randonneurs
  USA, and is subject to <a
  href="https://rusa.org/pages/rulesForRiders">RUSA Rules for
  Riders.</a>  If you are not familiar with these rules, please
  read them well in advance so that you can be prepared.  They are
  <emph>not</emph> the same as a club century ride.</p>
  <p>
  Because this ride will take place entirely in daylight, we will
  relax the usual rules regarding front and rear lights and reflective
  gear. Nonetheless you are very strongly advised to wear high
  visibility clothing and to ride with extra caution, as many tourists
  will be traveling to the zone of totality the same day as our ride.
  Try to design your route to avoid roads that are likely to be main
  routes for tourists traveling to campgrounds and other lodging.</p>
  <p>Familiarize yourself with procedures for riding a brevet,
  incuding collection of times and signatures on the control card.
  The card must be signed and turned in at the finish.</p>
</div> <!-- column -->
</div> <!-- row -->



{% endblock %}    
