{% extends "base.html" %}

{% block pagecss %}
<style>
td { padding: 1.5ex; }
figure { text-align: center; }
figcaption { }

img { border-radius: 2ex; }
</style>
{% endblock %}
{% block pagehead %}
Lunar 400k <br />Eugene &mdash; Forest Grove &mdash; Eugene<br
/>July 27, 2018 (evening start)
{% endblock %}

  
{% block subhead %}{% endblock %}



{% block content %}

<div class="row"><div class="col-md-12">
<figure>
<a href="img/ForestGrove-530am.jpg">
<img src="img/ForestGrove-530am-640.jpg"
  alt="Pond south of Forest Grove, 5:30am"
  title="Pond south of Forest Grove, 5:30am"
  /></a>
<figcaption>5:30am, a few miles south of Forest Grove</figcaption>
</figure>
</div></div>

<div class="row"><div class="col-md-12">
  [
  <a href="#details">details</a> |
  <a href="#route">route</a> |
  <a href="#requirements">requirements</a> |
  <a href="#expectations">what to expect</a> |
  <a href="#safety">safety</a> |
  <a href="#pre-ride">pre-ride report</a>
  ]
</div> <!-- col -->
</div> <!-- row -->
 
<div class="row"><div class="col-md-12">
  <h3 id="register">Registration</h3>
  <p>Please <a href="https://goo.gl/forms/1U3oWCBy7umS5vyJ3">fill the
  form</a> and then either <a
  href="https://paypal.me/willrando">
  pay now by PayPal</a> or
  arrange to pay in person.  Fee is $10 through Wednesday, 25 July,
  $15 later or day of ride.</p>
</div> <!-- column -->
</div> <!-- row -->

<div class="row">
<div class="col-md-12">
  <h3 id="details">Evening start!</h3>
  <p>This is an evening start 400k brevet, scheduled for a full moon.
  We will start at 8pm and
  ride through the night to Forest Grove, returning to Eugene on
  Saturday.  Most riders do not sleep on a 400k brevet, and there are
  no sleeping facilities on route. This is good practice in particular
  if you are considering riding Paris-Brest-Paris in 2019. </p>
  <h3 id="route">Route</h3>
   <p>The map and route are currently under review by RUSA, so some
  changes are possible.  I will make a note here when they are final.  
  </p>
<p>We will start on 13th Street near Falling Sky brew-pub, north
  through Coburg, Brownsville, and Jefferson and through Salem to
  Dayton and Forest Grove.  Very fast riders may need to control at
  Plaid Pantry in Forest Grove (open 24 hours) or Safeway (open 6am),
  but Maggie's Buns opens at 7am for 
  riders who prefer a more sedate pace at night and an enjoyable
  sit-down breakfast.  The return leg retraces part of the outbound,
  to Dayton, but then stays on the west side of I-5 through
  Independence and Albany to Harrisburg and Coburg. We finish again at
  Falling Sky brew-pub, which has good bike parking.  I'll have
  U-locks to secure bicycles to a rack visible from within so that you
  can enjoy your food and beer.</p>
  <p>There are lots of convenience stores on this route, but no
  staffed controls aside from start and finish. This being July, the
  return leg is likely to be hot, but convenience stores are spaced
  closely enough that two bottles should be sufficient.  Summer winds
  in the Willamette Valley are typically from the north.</p>
  <p>There are roughly 7 miles of gravel on this route, starting around
  mile 163.  It's not particularly deep or coarse, but it is loose and
  on a couple of small hills it takes some skill to maintain
  traction.  There is some mild washboard, and a mile or two of more
  severe washboard.  If you have a choice of bicycles or a choice of wheels, I
  would favor one with 32mm or fatter tires, even though the gravel
section is a small portion of the overall route.  
  </p>
 
  <p>Map and downloadable track:
  <a href="https://ridewithgps.com/routes/27932473">
  https://ridewithgps.com/routes/27932473
  </a>;
  <a href="pdfs/night400k-2018.pdf">Cue sheet (pdf)</a>
  <a href="pdfs/night400k-2018.xlsx">(xls)</a>.<br />
  Contact for more information:
  <a href="mailto:rba@will-rando.org?subject=Alsea
  200">rba@will-rando.org</a></p>
  </p>
</div> <!-- column -->
<div class="col-sm-4">

</div> <!-- column -->
</div> <!-- row -->


 
 <div class="row"><div class="col-md-12">

  <h3 id="requirements">Requirements</h3>

  <p>This brevet is sanctioned by Audax Club Parisien and Randonneurs
  USA, and is subject to <a
  href="https://rusa.org/pages/rulesForRiders">RUSA Rules for
  Riders.</a>  If you are not familiar with these rules, please
  read them well in advance so that you can be prepared.  They are
  <emph>not</emph> the same as a club century ride.</p>
  <p>
  Your bicycle must be equipped with front and rear lights, which must
  be attached to the bicycle (not the rider).  You will be riding
  through the night, so be sure you have adequate batteries or a
  generator. After dusk, you must
  use your lights. 
  You must carry adequate reflective garments, preferably conforming
  to
  <a href="https://rusa.org/reflectivity/">RUSA reflectivity
  guidelines</a>.  If you are observed riding in low light conditions
  with inadequate lights or reflectivity, you will be
  disqualified.</p>
  <p>Familiarize yourself with procedures for riding a brevet,
  incuding collection of times and signatures on the control card.
  The card must be signed and turned in at the finish.</p>
</div> <!-- column -->
</div> <!-- row -->

<div class="row">
<div class="col-md-12">
  <h3 id="expectations">What to expect</h3>
  <p>This is a self-supported ride.  There are many convenience stores
  on route, including an adequate number of markets open 24 hours, so
  there are no staffed controls. There is no SAG; if you abandon, you
  must make your own arrangements for getting home.   Randonneuring
  rules prohibit personal support vehicles or other
  personal support except at the
  controles, which are marked on the route.  </p>
  <p>A 400k (250 mile) brevet is the longest route that most
  randonneurs do without sleep.  It can be a challenge even for very
  experienced riders.  It is considerably harder than a supported
  double century like STP.  At distances of 400km and up, the mental
  challenges are as great as the physical.  Riding with someone else,
  or with a group, can help you deal with the mental challenge, and
 you may find that riding through the night with others is a
  particularly strong bonding experience.</p>
  <p> Ride steadily and remember to
  keep eating and drinking.  You should carry some food to eat while
you ride.  Your stomach may turn against sugar, so bring something
  salty and savory as an alternative.  Particularly on the return
  (southbound) leg, top up your bottles when you have an opportunity.</p>
  <p>This is an all-conditions ride. There will be some kind of
  weather.  Maybe it will be wonderful, 
  and maybe it won't.  Come prepared.  Unless you feel your life or
  health are at risk, ride through.</p>
  <p>Although we will be entirely in the Willamette Valley, you are
  likely to encounter a range of temperatures because you will be
  riding through the coldest part of the night (typically 3 to 5 am)
  and the hottest part of the day (typically 2 to 4 pm).  Bring
  layers.  A light wool layer can be particularly good at working over
  a wide range of temperatures. </p>
  <p>
   You need not be a fast rider, but it takes some discipline
   to move efficiently through a long night and day of riding. The clock doesn't
  stop, even when you do, so don't dawdle away 
   your time at the convenience store!  The slower you ride,
   the more important is your &ldquo;controle discipline.&rdquo;</p>
   <p>On the other hand, at some point in the ride you may feel
   defeated and exhausted.  Don't despair.  Stop for five minutes,
   take off your shoes, 
  drink something and eat something. Stretch or lay down.  Then get
  back on your bike, and even if 
   the remainder of the ride seems daunting, just make it another ten
  miles down the road.  Repeat as needed. 
</p>
<h3 id="safety">Safety first: Dealing with drowsiness</h3>
<p>Falling asleep on the
bicycle is a very bad way to end a ride.  The night start makes this
less likely.   If you rest well
the night before, and take a nap sometime on Friday, you will probably
find that the riding keeps you awake through Friday night and then the
sun keeps you awake Saturday.  But if you become very drowsy,
regardless of time of day or night, you must take steps to regain
wakefulness. The following approach works for many people:  Find a
safe place to pull off the road, with a surface where you can lie down
and be safely separated from traffic.  Take some caffeine (a
caffeinated gel, caffeinated mints, or whatever works for you)
<em>before</em> you lie down.  Set your phone to wake you in 20
minutes.  Lie down and close your eyes; sleep if you can.  The
caffeine will be taking effect just about the time you wake.</p>
  <p>Be safe, and enjoy the ride.</p>
</div><!-- column -->
</div><!-- row -->

<div class="row">
<div class="col-md-12">
  <h3 id="pre-ride">Pre-ride report</h3>
  <h4>Weather, and clothing</h4>
  <p>
  I pre-rode the route starting July 14, exactly two weeks before the
  scheduled event.  The forecast all along the route was for a low of
  around 57 and a high of 95, with little or no chance of
  rain.  I considered wearing a synthetic jersey but opted
  for my lightest wool jersey and a very light polyester
  base layer.  I packed a reflective wind-breaker but started out
  wearing a <a
  href="http://www.dillpicklegear.com/store/index.php?route=product/product&product_id=108">reflective
  sash</a> to avoid overheating.  I took sun sleeves but no arm
  warmers or leg warmers.  These clothing choices were mostly
  ok. Around 3 or 4am, temperature in some spots between towns dipped
  into the mid 50s, and I wished I had packed long-fingered glove
  liners, but the cold was never really uncomfortable.  On Saturday in
  the long hot afternoon I do not think a synthetic jersey would have
  been significantly cooler than my thin wool jersey (without the base
  layer by this time).</p>
  <h4>Eugene to Brownsville (miles 0 to 30)</h4>
  <p>The trickiest bit of this is along Coburg Road, just after
  crossing the river, where the bike
  lane/path is variously sidewalk, paved lane, and underpasses until
  you cross left onto Oakway Road.  To avoid missing the underpasses,
  which keep you clear of conflicts with cars exiting to larger
  roads, you might choose to just stay on the sidewalk rather than
  using the bike lane bits. At Oakway Road you should use the
  crosswalk (there is a button to push) rather than trying to turn
  left across several lanes of traffic.  Once you get off that
  horrible little segment you will be on less busy streets.</p>
  <p>The town of Coburg is about 10 miles along.  You are unlikely to
  need to stop at the Dari Mart, but if you need a restroom you will
  find one in a park just one block right (east). The next 10 miles
  are flat and mostly straight and frankly rather boring.  It will be
a good time to swap stories with other riders.</p>
  <p>The terrain becomes a little more interesting as you turn off
North Coburg Road onto Diamond Hill Road, crossing above the I-5
freeway. Diamond Hill becomes Gap Road and bends left (north), and
then starts a modest climb.  On the pre-ride, the sun was also setting
and temperatures were starting to fall, but just into the 70s.  The
descent from the top of Gap Road toward Brownsville is just steep
enough  to be fun, with a sweeping turn but nothing tight.  Then there
is just a bit of flat and straight in to Brownsville, where Gap Road
becomes Washburn Street.</p>
<p>At the T where Washburn Street meets W Bishop Way (also signed as
Hwy 228), there is a Chevron station with a mini-mart on your left.
They are open until 11pm, so most riders should have time.  They have
restrooms and fast food, and the staff is friendly.  I reached there
just about 10pm, refilled a water bottle in the restroom, and bought a
candy bar that I didn't really need.  The Dari Mart one block farther
on the route closes earlier and does not offer a restroom, but if you
are after 11pm you can  find a restroom in a small park half a block
right on Spaulding Ave (right on Spaulding, park on your left).</p>
<h4>Brownsville to Jefferson (mile 57)</h4>
<p>There are a couple rises as you continue north from Brownsville,
but mostly this is a flat, easy section with very light traffic.  I
found it easy to keep a 
good pace and put some time in the bank. I got Cup 'o Noodle at the
Center Market in Jefferson, which was surprisingly busy for late
night.</p>
<h4>Jefferson to Salem (mile 75)</h4>
<p>The night is cooling down, but at this point I still haven't had a
need to layer up.  There are a couple of short stretches on busier
roads, but mostly it is low traffic and pleasant. The cool air is making it easy to keep up a good
pace.  The Jacksons at mile 75.3 is a good food stop with
restrooms.  I arrived around 2am.  The coffee dispensers were empty, so I didn't get
anything, but I refilled a water bottle in the bathroom sink.  I may
have put on my reflective windbreaker before continuing.</p>
<h4>Salem to Dayton (mile 99)</h4>
<p>More fast, flat, easy riding, with a few connections on busier
roads.  By this time I realized I was putting way more time in the
bank than I had planned on, and would probably reach Forest Grove too
early for breakfast at Maggie's Buns.  Just a pleasant spin through
the night.  I got some kind of sweetened Starbucksy thing.  I may have
refilled a water bottle, but I'm not certain as I wasn't drinking very
quickly and knew that Forest Grove was only a bottle away.</p>
<h4>Dayton to  Forest Grove (mile 125)</h4>
<p>Leaving Dayton I finally elected to put on my light wool coat under
my windbreaker.  It was the start of the coldest part of the ride, but
the wool jacket and windbreaker were still too warm at points.  My
fingers, on the other hand, would have thanked me for a light
full-finger glove liner.</p>
<p>Just as you think you're getting out to the countryside again
beyond Dayton, you pass through Lafayette, another town of around the
same size.  The espresso stand is not open yet at that time, so there
really isn't much to say about it.  They you're on some rolling
terrain through wine country, and the sun is rising.  The ponds along
the the road as you approach Forest Grove are lovely in the morning
light.</p>
<p>I paused to take a picture partly because the red morning
light was nice on the water, and partly because I was in danger of
reaching Forest Grove significantly before 6am, when the Safeway
opens.  I was clearly far too early to wait for Maggie's Buns to open
at 8. Riders faster than me (which is to say, most riders) will be too
early for Safeway and have to settle for Plaid Pantry (which does not
offer a restroom) at 19th and
Elm. To reach the Plaid Pantry, continue a couple blocks on Pacific
Ave past the Safeway, turn left on  Elm, and go one block farther to
19th.   19th is a one-way street running contrary to Pacific.  Return
to the route by following 19th to Maple Street, where you will be back
on route by turning right.</p>
<h4>Forest Grove to Amity (mile 160)</h4>
<p>It is time to put on your sunscreen.  (Yeah, I didn't, but I should
have.)</p>
<p>The segment from Forest Grove to Dayton  is the reverse of the way
out, but it's ok because it's really pretty and worth seeing twice in
changing light. At Dayton you bear a little farther west on the
Dayton-Amity highway, which is pretty dull, so be sure you get your
fill of nice views before Dayton.  Also it's warming up.</p>
<p>I stopped at <em>The Common Cup</em>, which shares a building with
a taco shop in Amity.  In fact I had planned to get a taco and a cup
of coffee, but Tacos
Burros was closed, so I had a savory waffle (topped with an egg) at
Common Cup.  What a pleasant surprise!  My caffe latte was first rate
(and I'm pretty picky about coffee) and the waffle and egg made a good
late breakfast.  Also the restroom was  clean and well-appointed ... I
even brushed my teeth, which felt incredibly civilized and luxurious.
Taking time to eat the waffle and chat with the proprietor about Italy
and coffee and waffles ate into my banked time, but I was far enough
ahead of schedule not to worry about that. If you're trying to make a
fast time, you might want to have just a coffee (or a taco next door),
but if you feel like a more extended break, Common Cup is a good place
to take it.</p>

<h4>Amity to Independence (mile 181)</h4>
<p>Fast and flat, fast and flat, nice pavement ... you were getting
tired of the repetition, weren't you?  Time for a little change-up.
</p>
<p>You hit the gravel section just a few miles after Amity.  Actually
there are two, around 3.5 miles each, with a short paved respite
between.  The gravel is not too coarse, and not too thick, and it
looks like there might once have been some pavement underneath. There
is some washboard, and there are a couple hills that would not be
difficult but for the gravel, which makes it more challenging to
maintain traction.  I was glad to be on 42mm tubeless tires at 50psi.
If you bring your skinny tire bike, you should be ok, but this will
not be your favorite section.</p>
<p>I applied sunscreen at the end of the gravel section.  Don't be
like me.  Be smart and put it on  earlier, in Dayton or Amity.</p>
<p>Oak Grove Road ends at Hwy 22, which is busy and has a lot of trash
in the shoulder.  There is what appears to be a
sidewalk along Hwy 22; take a right on that sidewalk, and just a
little way along there is a ramp onto a bike/ped bridge across the
highway, then a transition onto Rickreal Road.  (Thanks to Susan for
helping me route this part and avoid riding Hwy 22.)</p>
<p>There are several places to eat and get your card signed in
Independence.  My preference is Mootharts, a little market on the
right, across from Mecanico bar.  You can find some pre-cooked Mexican
food in a deli case, and there are inside tables to sit down at.
Across the street (next to Mecanico) is a park with public
bathrooms. I was still not very hungry, but I ate most of a tamal and
refilled my water bottle.</p>
<h4>Independence to Albany (mile 200)</h4>
<p>This is flat or rolling terrain, quite rural.  It was quite warm
but not really unpleasant.  I had planned to
stop at a burger joint in Albany, but by the time I reached there the heat was really
taking hold and my belly was still digesting prior meals. I
stopped at a deli for a coke and, once again, topping a water
bottle.  Hydrate well in Albany and leave with two full bottles,
because there are no water opportunities from there to Harrisburg.</p>
<h4>Albany to Harrisburg (mile 230)</h4>
<p>There is some suburban riding south of Albany.  Then you cross
Highway 34 onto White Oak road, merging into Peoria road.  The best
thing I can say about this section is that you'll probably have a
tailwind.  It is flat and straight and, unless you have a thing for
wheat fields and berry farms, pretty boring.  There are vault toilets
at Peoria Park, mile 217, but no running water.  I was making good
time with the headwind until a couple miles before Harrisburg, when
my heat tolerance wore off and I slowed way down.</p>
<p>There are several convenience stores in Harrisburg, and a Subway.
The convenience stores don't offer restrooms, but there are public
restrooms one block east on Smith Street,  at the Harrisburg Area
Museum.  I stopped at the Dari Mart and had a juice drink and refilled
my water bottles.</p>
<h4>Harrisburg to Coburg (mile 242)</h4>
<p>This is a short, level, easy segment, on  which you should have
favorable  wind, but for me it is memorable mainly for all the times I
have dealt with stomach distress, sore feet, and general exhaustion
riding the other direction on ORR Eden's Gate 400k.  So naturally I
was miserable again, and stopped a couple times to rest for a minute
before continuing.</p>
<p>In Coburg, a block east of the Dari Mart (to your left now), is a
small park with a  public restroom. I used the sink to pour water into
my bottle and then over my head, and then wash my face.  It was
glorious.  Then I rode the half block back to the Dari Mart where I
sat a long time drinking a flavored, unsweetened drink.  I had plenty
of time in the bank, and sitting down drinking cold liquid was
absolutely the best  use I could make of that time.</p>

<h4>Coburg to the finish (mile 253)</h4>
<p>Revived by the break in Coburg, the rest of the ride in was easy
and pleasant.  The turn from Dale to Riverbend leads into a cul de
sac.  But look on your left as you turn, and you'll find a cut-through
path that leads to another cul de sac on the other side, which in turn
leads out to Honeywood Street.</p>
<p>At mile 247.5 you transition off of streets and onto the River Bank
path system. This path system is still a treat after many, many years
of riding it,  and by this time I know I'm about 30 minutes from the
finish. The path leads all the way back to the bike bridge you took on
the outbound leg.  We take 4th street to Pearl, then Pearl south all the way
to 14th street, right (west) to the alley after Oak and before
Willamette street, and right up the alley to Falling Sky brew-pub.</p>
<p>The pub has good food (not cheap) and good beer. The bike parking is visible
from inside, and I'll have a couple U-locks so that you can secure
your bike sufficiently if you want to take some time to drink, eat,
and tell your tall tales of riding through night and day and in and
out of weeks and almost over a year to where the good beer is.</p>
</div> <!-- column -->
</div> <!-- row -->?
<div class="row">
<div class="col-sm-4">
  <figure>
 <a href="img/Eug-FG-Eug-mapimg.pdf"> 
 <img src="img/Eug-FG-Eug-mapimg.png"
   alt="Route overview"
   title="Route overview"
   />
  </a>
 <figcaption>Overview of route</figcaption>
 </figure>
</div> <!-- column -->
</div> <!-- row -->


{% endblock %}    
