{% extends "base.html" %}

{% block pagecss %}
<style>
td { padding: 1.5ex; }
figure { text-align: center; }
figcaption { }

img { border-radius: 2ex; }
</style>
{% endblock %}
{% block pagehead %}
Evening start 400k <br />Eugene &mdash; Forest Grove &mdash; Eugene<br
/>July 27, 2018
{% endblock %}

  
{% block subhead %}{% endblock %}



{% block content %}
 

<div class="row">
<div class="col-sm-8">
  <h3>Evening start!</h3>
  <p>This is an evening start 400k brevet.  We will start at 8pm and
  ride through the night to Forest Grove, returning to Eugene on
  Saturday.  Most riders do not sleep on a 400k brevet, and there are
  no sleeping facilities on route. This is good practice in particular
  if you are considering riding Paris-Brest-Paris in 2019. </p>
  <h3>Route</h3>
   <p>The map and route are currently under review by RUSA, so some
  changes are possible.  I will make a note here when they are final.  
  </p>
<p>We will start on 13th Street near Falling Sky brew-pub, north
  through Coburg, Brownsville, and Jefferson and through Salem to
  Dayton and Forest Grove.  Very fast riders may need to control at
  Plaid Pantry in Forest Grove (open 24 hours) or Safeway (open 6am),
  but Maggie's Buns opens at 7am for 
  riders who prefer a more sedate pace at night and an enjoyable
  sit-down breakfast.  The return leg retraces part of the outbound,
  to Dayton, but then stays on the west side of I-5 through
  Independence and Albany to Harrisburg and Coburg. We finish again at
  Falling Sky brew-pub, which has good bike parking.  I'll have
  U-locks to secure bicycles to a rack visible from within so that you
  can enjoy your food and beer.</p>
  <p>There are lots of convenience stores on this route, but no
  staffed controls aside from start and finish. This being July, the
  return leg is likely to be hot, but convenience stores are spaced
  closely enough that two bottles should be sufficient.  Summer winds
  in the Willamette Valley are typically from the north.  There is one
  section of gravel, approximately 3 to 5 miles from mile 163 on Old
  Bethel Road; I will
  report on its condition and extent after the pre-ride.
  </p>
 
  <p>Map and downloadable track:
  <a href="https://ridewithgps.com/routes/27932473">
  https://ridewithgps.com/routes/27932473
  </a>;
  <a href="pdfs/night400k-2018.pdf">Cue sheet (pdf)</a>
  <a href="pdfs/night400k-2018.xlsx">(xls)</a>.<br />
  Contact for more information:
  <a href="mailto:rba@will-rando.org?subject=Alsea
  200">rba@will-rando.org</a></p>
  </p>
</div> <!-- column -->
<div class="col-sm-4">

</div> <!-- column -->
</div> <!-- row -->


 <div class="row"><div class="col-md-12">
  <h3>Registration</h3>
  <p>Please <a href="https://goo.gl/forms/1U3oWCBy7umS5vyJ3">fill the
  form</a> and then either <a
  href="https://paypal.me/willrando">
  pay now by PayPal</a> or
  arrange to pay in person.  Fee is $10 through Wednesday, 25 July,
  $15 later or day of ride.</p>
</div> <!-- column -->
</div> <!-- row -->

 <div class="row"><div class="col-md-12">

  <h3>Requirements</h3>

  <p>This brevet is sanctioned by Audax Club Parisien and Randonneurs
  USA, and is subject to <a
  href="https://rusa.org/pages/rulesForRiders">RUSA Rules for
  Riders.</a>  If you are not familiar with these rules, please
  read them well in advance so that you can be prepared.  They are
  <emph>not</emph> the same as a club century ride.</p>
  <p>
  Your bicycle must be equipped with front and rear lights, which must
  be attached to the bicycle (not the rider).  You will be riding
  through the night, so be sure you have adequate batteries or a
  generator. After dusk, you must
  use your lights. 
  You must carry adequate reflective garments, preferably conforming
  to
  <a href="https://rusa.org/reflectivity/">RUSA reflectivity
  guidelines</a>.  If you are observed riding in low light conditions
  with inadequate lights or reflectivity, you will be
  disqualified.</p>
  <p>Familiarize yourself with procedures for riding a brevet,
  incuding collection of times and signatures on the control card.
  The card must be signed and turned in at the finish.</p>
</div> <!-- column -->
</div> <!-- row -->

<div class="row">
<div class="col-sm-8">
  <h3>What to expect</h3>
  <p>This is a self-supported ride.  There are many convenience stores
  on route, including an adequate number of markets open 24 hours, so
  there are no staffed controls. There is no SAG; if you abandon, you
  must make your own arrangements for getting home.   Randonneuring
  rules prohibit personal support vehicles or other
  personal support except at the
  controles, which are marked on the route.  </p>
  <p>A 400k (250 mile) brevet is the longest route that most
  randonneurs do without sleep.  It can be a challenge even for very
  experienced riders.  It is considerably harder than a supported
  double century like STP.  At distances of 400km and up, the mental
  challenges are as great as the physical.  Riding with someone else,
  or with a group, can help you deal with the mental challenge, and
 you may find that riding through the night with others is a
  particularly strong bonding experience.</p>
  <p> Ride steadily and remember to
  keep eating and drinking.  You should carry some food to eat while
you ride.  Your stomach may turn against sugar, so bring something
  salty and savory as an alternative.  Particlarly on the return
  (southbound) leg, top up your bottles when you have an opportunity.</p>
  <p>This is an all-conditions ride. There will be some kind of
  weather.  Maybe it will be wonderful, 
  and maybe it won't.  Come prepared.  Unless you feel your life or
  health are at risk, ride through.</p>
  <p>Although we will be entirely in the Willamette Valley, you are
  likely to encounter a range of temperatures because you will be
  riding through the coldest part of the night (typically 3 to 5 am)
  and the hottest part of the day (typically 2 to 4 pm).  Bring
  layers.  A light wool layer can be particularly good at working over
  a wide range of temperatures. </p>
  <p>
   You need not be a fast rider, but it takes some discipline
   to move efficiently through a long night and day of riding. The clock doesn't
  stop, even when you do, so don't dawdle away 
   your time at the convenience store!  The slower you ride,
   the more important is your &ldquo;controle discipline.&rdquo;</p>
   <p>On the other hand, at some point in the ride you may feel
   defeated and exhausted.  Don't despair.  Stop for five minutes,
   take off your shoes, 
  drink something and eat something. Stretch or lay down.  Then get
  back on your bike, and even if 
   the remainder of the ride seems daunting, just make it another ten
  miles down the road.  Repeat as needed. 
</p>
<h3>Safety first: Dealing with drowsiness</h3>
<p>Falling asleep on the
bicycle is a very bad way to end a ride.  The night start makes this
less likely.   If you rest well
the night before, and take a nap sometime on Friday, you will probably
find that the riding keeps you awake through Friday night and then the
sun keeps you awake Saturday.  But if you become very drowsy,
regardless of time of day or night, you must take steps to regain
wakefulness. The following approach works for many people:  Find a
safe place to pull off the road, with a surface where you can lie down
and be safely separated from traffic.  Take some caffeine (a
caffeinated gel, caffeinated mints, or whatever works for you)
<em>before</em> you lie down.  Set your phone to wake you in 20
minutes.  Lie down and close your eyes; sleep if you can.  The
caffeine will be taking effect just about the time you wake.</p>
  <p>Be safe, and enjoy the ride.</p>
</div><!-- column -->
</div><!-- row -->
<div class="row">
<div class="col-sm-4">
  <figure>
 <a href="img/Eug-FG-Eug-mapimg.pdf"> 
 <img src="img/Eug-FG-Eug-mapimg.png"
   alt="Route overview"
   title="Route overview"
   />
  </a>
 <figcaption>Overview of route</figcaption>
 </figure>
</div> <!-- column -->
</div> <!-- row -->


{% endblock %}    
