{% extends "base.html" %}

{% block title %}Willamette Randonneurs{% endblock %}

{% block pagehead %}
    Willamette
    Randonneurs<br />
    Prior Years
    <div><img src="static/img/stroke.png" alt=""></div>
{% endblock %}

{% block subhead %}{% endblock %}

{% block pagecss %}
    <style>
        td {
            padding: 1.5ex;
        }

        figure {
            text-align: center;
        }

        figcaption {
        }

        img {
            border-radius: 2ex;
        }
    </style>
{% endblock %}

{% block content %}

    <h2>2024 Calendar</h2>
    <div class="row">
            <div class="col-md-12">
                <table>
                    <colgroup>
                        <col style="min-width: 10ex; width: 15%; "/>
                        <col style="width: 85%;"/>
                    </colgroup>
                    <tbody>
                    <tr>
                        <td>{{ "2024-03-10" | fmtdate }}</td>
                        <td> Populaire (100k).
                            <a href="https://ridewithgps.com/routes/29335242">Lunch in Veneta</a> 100k Populaire.
                        </td>
                    </tr>
                    <tr>
                        <td>{{ "2024-03-23" | fmtdate }}</td>
                        <td> ACP 200k brevet.
                            <a href="https://ridewithgps.com/routes/26896902">Five Rivers</a>.
                        </td>
                    </tr>
                    <tr>
                        <td>{{ "2024-04-20" | fmtdate }}</td>
                        <td> Alsea Loop ACP 200k brevet.
                            <a href="https://ridewithgps.com/routes/1810086">Alsea Loop</a>.
                        </td>
                    </tr>
                    <tr>
                        <td>{{ "2024-05-18" | fmtdate }}</td>
                        <td> ACP 300k brevet.
                            <a href="https://ridewithgps.com/routes/45141193">
                                Cow Creek 300</a>, designed and organized by James Taylor.
                            This 300k brevet begins and ends at Seven Feathers
                            Travel Center in Canyonville and wanders as far south
                            as Gold Hill, Oregon. 5am start.
                        </td>
                    </tr>
                    <tr>
                        <td>{{ "2024-06-01" | fmtdate }}</td>
                        <td> ACP 300k brevet, ACP 600k brevet.
                            <a href="https://ridewithgps.com/routes/21564104">Smith River Loop</a>
                            or <a href="https://ridewithgps.com/routes/46826447">Smith River 600k</a>.</td>
                    </tr>
                    <tr>
                        <td>{{ "2024-07-12" | fmtdate }}</td>
                        <td> ACP 400k brevet, ACP 200k brevet (evening starts).
                            <a href="events/2023/lunar400-2023.html">Lunar 400k / Mezza Luna 200k</a>
                            <strong>starting Friday evening 8pm</strong> in Eugene.
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    <h2>2023 Calendar</h2>

    <div class="row">
        <div class="col-md-12">
            <table>
                <colgroup>
                    <col style="min-width: 10ex; width: 15%; "/>
                    <col style="width: 85%;"/>
                </colgroup>
                <tbody>
                <tr>
                    <td>{{ "2023-03-18" | fmtdate }}</td>
                    <td> ACP 200k brevet.
                        <a href="https://ridewithgps.com/routes/26896902">Five Rivers</a> 200k (ACP).
                    </td>
                </tr>
                <tr>
                    <td>{{ "2023-04-02" | fmtdate }}</td>
                    <td> ACP 200k brevet.
                        <a href="https://ridewithgps.com/trips/47842404"> World's Tallest Sugarpine #2</a>,
                        starting and ending in Winston, OR.
                    </td>
                </tr>
                <tr>
                    <td>{{ "2023-05-07" | fmtdate }}</td>
                    <td> ACP 200k brevet.
                    </td>
                </tr>
                <tr>
                    <td>{{ "2023-05-27" | fmtdate }} evening start (overnight).</td>
                    <td><a href="events/2023/lunar400-2023.html">ACP 400k and 200k brevets</a>.
                    </td>
                </tr>
                <tr>
                    <td>{{ "2023-06-17" | fmtdate }}</td>
                    <td>Smith River 300k and Smith 600k.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>2022 events</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table>
                <colgroup>
                    <col style="min-width: 10ex; width: 15%; "/>
                    <col style="width: 85%;"/>
                </colgroup>
                <tbody>
                <tr>
                    <td>{{ "2022-03-26" | fmtdate }}</td>
                    <td> Five Rivers< 200k (ACP).</td>
                </tr>
                <tr>
                    <td>{{ "2022-04-16" | fmtdate }}</td>
                    <td>Colliding Rivers ACP 200k brevet from Sutherlin, OR.</td>
                </tr>
                <tr>
                    <td>{{ "2022-06-04" | fmtdate }}</td>
                    <td><a href="events/2022/umpqua-300k.html">Umpqua 300k ACP brevet</a>
                        from Cottage Grove, OR
                    </td>
                </tr>
                <tr>
                    <td>{{ "2022-06-11" | fmtdate }}</td>
                    <td>
                        <a href="events/2022/smith-300k.html">
                            Smith River 300k ACP brevet</a>
                        and
                        <a href="events/2022/smith-600k.html">
                            Smith River 600k ACP brevet</a> from Eugene, OR.
                    </td>
                </tr>
                <tr>
                    <td>{{ "2022-07-15" | fmtdate }}</td>
                    <td>
                        <a href="events/2022/lunar400-2022.html">
                            Lunar 400 (ACP 400k) and Mezza Luna
                            (200k)</a> evening start brevets from Eugene, OR.
                    </td>
                </tr>
                <tr>
                    <td>{{ "2022-10-22" | fmtdate }}</td>
                    <td>
                        <a href="events/alsea200k">ACP 200km brevet, Alsea Loop,
                            virtually in Lviv, Ukraine.</a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h2>2021 events</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>March events were canceled.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table>
                <colgroup>
                    <col style="min-width: 10ex; width: 15%; "/>
                    <col style="width: 85%;"/>
                </colgroup>
                <tbody>
                <tr>
                    <td>{{ "2021-04-03" | fmtdate }}</td>
                    <td><a href="https://ridewithgps.com/routes/26896902">Five Rivers</a> 200k (ACP).
                    </td>
                </tr>
                <tr>
                    <td>{{ "2021-04-17" | fmtdate }}</td>
                    <td>RUSA populaire (100k).
                        <a href="events/2021/lunch-in-veneta">Lunch in Veneta</a>.
                    </td>
                </tr>
                <tr>
                    <td>{{ "2021-05-22" | fmtdate }}</td>
                    <td><a href="events/alsea200k">ACP 200km brevet, Alsea Loop.</a>
                    </td>
                </tr>
                <tr>
                    <td>{{ "2021-06-19" | fmtdate }}</td>
                    <td>
                        <a href="events/2021/smith-300k.html">Smith River 300k</a>
                        and
                        <a href="events/2021/smith-600k.html">Smith River 600k</a>.
                    </td>
                </tr>
                <tr>
                    <td>{{ "2021-08-20" | fmtdate }}</td>
                    <td> Lunar 400 (ACP 400k brevet).</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div><!-- row -->

    <div class="row">
        <div class="col-md-12">
            <h2>2020 events</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">

            <p><em>Due to the Corona virus pandemic, rides in summer 2020 were canceled.
            </em></p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <table>
                <colgroup>
                    <col style="min-width: 10ex; width: 15%; "/>
                    <col style="width: 85%;"/>
                </colgroup>
                <tbody>
                <tr>
                    <td>{{ "2020-02-22" | fmtdate }}</td>
                    <td> RUSA populaire (100k).
                        <a href="https://ridewithgps.com/routes/29335242">
                            Lunch in Veneta</a>.
                    </td>
                </tr>
                <tr>
                    <td>{{ "2020-03-08" | fmtdate }}</td>
                    <td> RUSA populaire (100k).
                        International Women's Day.
                    </td>
                </tr>
                <tr>
                    <td>{{ "2020-03-21" | fmtdate }}</td>
                    <td>
                        <a href="https://ridewithgps.com/routes/26896902">Five Rivers</a> 200k (ACP).
                    </td>
                </tr>
                <tr>
                    <td>
                        <del>{{ "2020-03-28" | fmtdate }}</del>
                    </td>
                    <td>
                        <del> Colliding Rivers 200k (ACP).
                            Sutherlin to Glide and return.
                            <a href="https://ridewithgps.com/routes/31618316">Route</a> (designed by James Taylor).
                        </del>
                    </td>
                </tr>
                <tr>
                    <td>
                        <del>{{ "2020-05-09" | fmtdate }}</del>
                    </td>
                    <td>
                        <del> Evening start 100k
                            RUSA populaire. (Fl&eacute;che tuneup opportunity.)
                        </del>
                    </td>
                </tr>
                <tr>
                    <td>
                        <del>{{ "2020-05-15" | fmtdate }}</del>
                    </td>
                    <td>
                        <del>Fl&eacute;che weekend
                            (<a href="https://www.seattlerando.org/content.aspx?page_id=4001&club_id=928629&action=cira&vm=MonthView">
                                Seattle International Randonneurs</a>)
                        </del>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ "2020-05-24" | fmtdate }}</td>
                    <td>
                        <del>
                            <a href="https://ridewithgps.com/routes/1810086">Alsea Loop 200k</a> (ACP).
                        </del>
                    </td>
                </tr>
                <tr>
                    <td>{{ "2020-06-06" | fmtdate }}</td>
                    <td>
                        <del> Yippee Tyee Ty-yay 200k.
                            (Cottage Grove - Tyee loop)
                        </del>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ "2020-06-20" | fmtdate }}</td>
                    <td>
                        <del> Smith River 300k (ACP),
                            Smith River 600k (ACP).
                        </del>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ "2020-07-18" | fmtdate }} </td>
                    <td>
                        <del>ACP 300k, route TBD.</del>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ "2020-07-31" | fmtdate }} </td>
                    <td>
                        <del>Lunar 400k (ACP).
                        </del>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div><!-- row -->


    <div class="row">
        <div class="col-md-12">
            <h2>2019 Events</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table>
                <colgroup>
                    <col style="min-width: 10ex; width: 15%; "/>
                    <col style="width: 85%;"/>
                </colgroup>
                <tbody>
                <tr>
                    <td>{{ "2019-02-24" | fmtdate }}</td>
                    <td> RUSA populaire (100k).
                        (Canceled due to weather)
                    </td>
                </tr>
                <tr>
                    <td>{{ "2019-03-09" | fmtdate }}</td>
                    <td>
                        <a href="/events/2019/fiverivers200k">Five Rivers ACP 200k brevet.</a>
                    </td>
                </tr>
                <tr>
                    <td>{{ "2019-03-30" | fmtdate }}</td>
                    <td><a href="events/2019/cg-umpqua-200k">Cottage Grove &mdash; Umpqua
                        Loop</a> ACP 200k.
                        Begins and ends in Cottage Grove and loops south through Drain, Yoncalla, and Tyee, along the
                        Umpqua river, returning north through Sutherlin.
                    </td>
                </tr>
                <tr>
                    <td>{{ "2019-05-25" | fmtdate }}</td>
                    <td><a href="events/2019/night400-2019">
                        Evening start 400k </a> (with Monday holiday to recover). Loop north to Forest Grove,
                        beginning and ending in downtown Eugene.

                    </td>
                </tr>
                <tr>
                    <td>{{ "2019-06-08" | fmtdate }}</td>
                    <td><a href="events/2019/smith-600k">Smith River ACP 600K</a>. Two
                        loops from downtown Eugene.
                        The first loop will be to
                        Florence, along the coast south
                        to Reedsport, back in via Smith River Road and continuing to Lorane and Cottage Grove, then
                        north
                        to Eugene, about 360k. Second loop will be north to Brownsville, Lebanon, Independence, then
                        south
                        through Albany, Harrisburg, Coburg back to Eugene, about 240k. 5am Saturday start
                        from Mandy's 24-hour diner in downtown Eugene.
                    </td>
                </tr>
                <tr>
                    <td>{{ "2019-06-22" | fmtdate }}</td>
                    <td><a href="events/2019/smith-300k">Smith River ACP 300k</a>.
                        A 300km (187 mile) loop from Eugene to Florence via Triangle Lake, south to Reedsport,
                        returning over Smith River Road and Wolf Creek to Eugene, with a staffed control
                        at Oxbow Summit. 5am Saturday start from Mandy's 24-hour diner in downtown Eugene.
                        Finish is at Falling Sky until it closes at 11pm, then at Mandy's.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div><!-- row -->

    <div class="row">
        <div class="col-md-12">
            <h2>2018 Events</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table>
                <colgroup>
                    <col style="min-width: 10ex; width: 15%; "/>
                    <col style="width: 85%;"/>
                </colgroup>
                <tbody>
                <tr>
                    <td>{{ "2018-03-31" | fmtdate }} </td>
                    <td><a href="events/fiverivers200k">Five Rivers ACP 200km
                        brevet</a>.
                    </td>
                </tr>

                <tr>
                    <td>{{ "2018-05-19" | fmtdate }}</td>
                    <td><a href="events/alsea200k">ACP 200km brevet, Alsea Loop.</a>
                    </td>
                </tr>
                <tr>
                    <td>{{ "2018-06-16" | fmtdate }}</td>
                    <td><a href="events/smith300k-2018">ACP 300km brevet, Smith River Loop</a>.
                    </td>
                </tr>
                <tr>
                    <td>{{ "2018-07-27" | fmtdate }}</td>
                    <td><a href="events/night400-2018">ACP 400km brevet (Lunar 400)</a>, Friday
                        night 8pm start.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div><!-- row -->


    <div class="row">
        <div class="col-md-12">
            <h2>2017 Events</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table>
                <col style="min-width: 10ex; width: 15%; "/>
                <col style="width: 85%;"/>
                <tbody>
                <tr>
                    <td>{{ "2017-03-11" | fmtdate }}</td>
                    <td><a href="events/alsea200k-2017.html">Alsea Loop 200k</a>
                    </td>
                </tr>

                <tr>
                    <td>{{ "2017-06-24" | fmtdate }}</td>
                    <td>
                        <a href="events/smith300k.html">Smith River Loop
                            300k ACP brevet</a>.
                    </td>
                </tr>
                <tr>
                    <td>{{ "2017-08-20" | fmtdate }}</td>
                    <td>
                        <a href="events/eclipse.html">Dart to Darkness</a> Dart Populaire (team ride), 120km to
                        Willamina for the total eclipse.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div><!-- row -->

    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col-md-12">
            <figure>
                <a href="events/img/reynolds-mcfarland.jpg">
                    <img src="events/img/reynolds-mcfarland-640.jpg"
                         alt="Photo of Alsea Loop 200k, March 2017 by Jeff Reynolds"
                         title="Photo of Alsea Loop 200k, March 2017 by Jeff Reynolds"
                    /></a>
                <figcaption>Photo: Jeff Reynolds</figcaption>
            </figure>
        </div>
    </div>


{% endblock %}    
