{% extends "base.html" %}

{% block pagecss %}
<style>
td { padding: 1.5ex; }
figure { text-align: center; }
figcaption { }

img { border-radius: 2ex; }
</style>
{% endblock %}
{% block pagehead %}
Smith River Loop 300k, June 24, 2017
{% endblock %}

  
{% block subhead %}{% endblock %}



{% block content %}
 <div class="row"><div class="col-md-12">
   <figure>
 <a href="img/SmithRiver-Road.jpg">
 <img src="img/SmithRiver-Road-640px.jpg"
   alt="Lower Smith River Road"
   title="Lower Smith River Road"
   /></a>
 <figcaption>Lower Smith River Road</figcaption>
 </figure>
</div></div>



 <div class="row"><div class="col-md-12">
</div></div>


<div class="row">
<div class="col-sm-8">
<h3>Route</h3>
<p>We will leave 5am from McDonalds in Eugene and ride past Fern
  Ridge Reservoir and west on Highway 36 to Florence, then down the
  coast to Reedsport and back in on Lower Smith River Road and Wolf
  Creek Road.</p>

  <p>Unofficial map and downloadable track:
  <a href="https://ridewithgps.com/routes/21564104">
  https://ridewithgps.com/routes/21564104
  </a>;
  <a href="pdfs/Smith_300k.pdf">Cue sheet (pdf)</a>
  <a href="pdfs/Smith River 300k Loop.xlsx">(xls)</a>.<br />
  Contact for more information:
  <a href="mailto:rba@will-rando.org?subject=Alsea
  200">rba@will-rando.org</a></p>
  </p>
</div> <!-- column -->
<div class="col-sm-4">
  <figure>
 <a href="https://ridewithgps.com/routes/21564104">
 <img src="img/SmithRiverRoute-300px.png"
   alt="The Route (RWGPS)"
   title="The Route (RWGPS)"
   /></a>
 <figcaption>Image: <a href="https://ridewithgps.com/routes/21564104">Ride With GPS</a></figcaption>
 </figure>
</div> <!-- column -->
</div> <!-- row -->


 <div class="row"><div class="col-md-12">
  <h3>Registration</h3>
  <p>Please <a href="https://goo.gl/forms/H1IkeR1tm7nH09sk1">fill the
  form</a> and then either <a
  href="https://paypal.me/willrando">
  pay now by PayPal</a> or
  arrange to pay in person.  Fee is $15 through Wednesday, 21 June,
  $20 later or day of ride.</p>
</div> <!-- column -->
</div> <!-- row -->

 <div class="row"><div class="col-md-12">

  <h3>Requirements</h3>

  <p>This brevet is sanctioned by Audax Club Parisien and Randonneurs
  USA, and is subject to <a
  href="https://rusa.org/pages/rulesForRiders">RUSA Rules for
  Riders.</a>  If you are not familiar with these rules, please
  read them well in advance so that you can be prepared.  They are
  <emph>not</emph> the same as a club century ride.</p>
  <p>
  Your bicycle must be equipped with front and rear lights,
  even if you expect to finish in daylight.  After dusk, you must
  use your lights. 
  You must carry adequate reflective garments, preferably conforming
  to
  <a href="https://rusa.org/reflectivity/">RUSA reflectivity
  guidelines</a>.  If you are observed riding in low light conditions
  with inadequate lights or reflectivity, you will be
  disqualified.</p>
  <p>Familiarize yourself with procedures for riding a brevet,
  incuding collection of times and signatures on the control card.
  The card must be signed and turned in at the finish.</p>
</div> <!-- column -->
</div> <!-- row -->

<div class="row">
<div class="col-sm-8">
  <h3>What to expect</h3>
  <p>This is a self-supported ride except for one checkpoint with
  water and a snack near
  Oxbow summit,  about
  midway between Reedsport and Eugene. There is no SAG.  Food and
  drinks are available at markets along the route. Randonneuring
  rules prohibit personal support vehicles or other
  personal support except at the
  controles, which are marked on the route.  </p>
  <p>A 300k (186 mile) brevet is a little shorter than a double
  century, but maybe a little harder.  Ride steadily and remember to
  keep eating and drinking.  You should carry some food to eat while
you ride.  Your stomach may turn against sugar, so bring something
  salty and savory as an alternative. Top up your bottles frequently,
especially in Reedsport. </p>
  <p>This is an all-conditions ride. There will be some kind of
  weather.  Maybe it will be wonderful, 
  and maybe it won't.  Come prepared.  Unless you feel your life or
health are at risk, ride through.</p>
<p>When it is very hot in the valley it can be very
  cold at the coast, so dress in layers.  At least one layer of wool
  on your torso will keep you more comfortable through varying
  conditions than all synthetic layers. </p>
  <p>
   You need not be a fast rider, but it takes some discipline
   to move efficiently through a long day of riding. The clock doesn't
  stop, even when you do, so don't dawdle away 
   your time at the convenience store!  The slower you ride,
   the more important is your &ldquo;controle discipline.&rdquo;</p>
   <p>On the other hand, at some point in the ride you may feel
   defeated and exhausted.  Don't despair.  Stop for five minutes,
   take off your shoes, 
  drink something and eat something. Stretch or lay down.  Then get
  back on your bike, and even if 
   the remainder of the ride seems daunting, just make it another ten
  miles down the road.  Repeat as needed. 
</p>
  <p>Most important: Be safe, and enjoy the ride.</p>
</div><!-- column -->
<div class="col-sm-4">
  <figure>
 <!-- <a href="img/SmithRiver-Cut.jpg"> -->
 <img src="img/SmithRiver-Cut-320px.jpg"
   alt="Lesli Larson, Smith River Road"
   title="Lesli Larson, Smith River Road"
   />
  <!-- </a> -->
 <figcaption>Lesli Larson on Smith River Road</figcaption>
 </figure>
</div> <!-- column -->
</div> <!-- row -->

 <div class="row"><div class="col-md-12">
   <figure>
 <a href="img/SmithRiver-Overlook.jpg">
 <img src="img/SmithRiver-Overlook-600px.jpg"
   alt="Lower Smith River Road"
   title="Lower Smith River Road"
   /></a>
 <figcaption>Lesli Larson on Lower Smith River Road</figcaption>
 </figure>
</div></div>

{% endblock %}    
