{% extends "base.html" %}

{% block pagecss %}
<style>
td { padding: 1.5ex; }
figure { text-align: center; }
figcaption { }

img { border-radius: 2ex; }
</style>
{% endblock %}
{% block pagehead %}
Smith River Loop 300k, June 24, 2017<br />
Pre-Ride Report
{% endblock %}

  
{% block subhead %}{% endblock %}



{% block content %}

<div class="row">
<div class="col-sm-8">
  <h3>Synopsis (tl;dr version)</h3>

 <p>This will be a fast route for many riders, not
  particularly hard as 300k brevets go, but the second half is
  definitely harder than the first half.  Consider bringing a third
  bottle if the day is warm, just for the section from Reedsport to
  Oxbow Summit.  Drink up in Reedsport and fill all the bottles, and
  top up again at Smith River Store (about 20 miles in from
  Reedsport). 
  </p>
  <p><em>Edit June 21:  It is going to be hot!  I very strongly
  recommend carryng extra water from Reedsport, even if it's just an extra
  half-liter in a jersey pocket.</em></p>


<h3>Pre-ride</h3>
  <p>Michal Young pre-rode the route June 17, 2017, starting
  5am. I rode based on the cue 
  sheet alone without loading the route on GPS.  These notes are
  sequential along the route. </p>

  <p>McDonalds has only drive-through at 5am, which is not useful for
  our purposes.  Fortunately just half a block away the Burrito Boy is
  open and serving food.  I did not ask to use the restroom, but I
  presume they should have one.</p>

  <p><strong>[Mile 0]</strong> My cues for getting out to the bike path, taken from Google and
  Ride With GPS,  were unusable.  Although
  the path is tantalizingly close to the starting point, the railroad
  makes it difficult to get directly to.  On the other hand, there is
  almost no traffic at 5am.  I will set a simpler path on streets to
  Skinner Butte Park, where it is simple to get on the path.
  <em>EDIT:  Fixed, we will start east on Broadway and make one right
  onto High Street.  This removed several turns and did not alter the
  distance.</em>
  The River Bank Path is very pleasant at 5am ... this will be a
  nice way to get started.</p>
  <p><strong>[Mile 4]</strong> We transition off the path to streets that are pretty busy later
  in the morning, but they are fine that early. The crossing of Hwy 99
  at mile 7.4 is protected by a traffic light, and it was triggered by
  my (steel) bike!  On the left, just before that crossing, is a
  gas station mini-market open early (probably 24 hours) with
  restrooms and a variety of convenience store foods.</p>
  <p><strong>[Mile 19.6]</strong> Transition to Hwy 36.  I
  have been informed that next weekend is the &ldquo;52 mile
  yard sale&rdquo; all
  the way from Junction City to Mapleton. This is apparently a big
  deal, and will bring the heaviest traffic of the year to the
  highway.  (Can I pick ride dates or what?)  However, we will be
  going through before the worst of it.  I was to Deadwood (mile 48.5)
  before 9am, which is when (according to the cashier at Deadwood
  Country Market) we can expect to start seeing significant traffic.
  I'm not a particularly fast rider, so I expect many of you will be
  close to Mapleton by then. 
  </p>
  <p><strong>[Mile 35.5]</strong> Triangle Lake:  The little grocery
  store on the right 
  will be open by 7.  (Low Pass Market, at mile 26.7, opens at 8 and
  will almost certainly be closed when you pass.)  At this point
  you've already summitted the coast range, and a nice decent begins.
  Watch for pocks in the pavement from falling rocks.  Lake Creek on
  your left is very pretty, but hard to appreciate if you are zooming
  past.
  </p>

  </div> <!-- col -->
  </div> <!-- row -->
  <div class="row"><div class="col-sm-8">
   <figure>
 <a href="img/SmithRiver-LakeCreekRock.jpg">
 <img src="img/SmithRiver-LakeCreekRock-600.jpg"
   alt="Lake Creek"
   title="Lake Creek"
   /></a>
 <figcaption>Lake Creek, which flows from Triangle Lake</figcaption>
 </figure>
</div></div>
<div class="row">
<div class="col-sm-8">


  <p><strong>[Mile 48.5]</strong> Deadwood (control). The store opens at 8. Offerings
  are pretty slim ... ice cream bars, sodas, coffee, chips. There will
  be an information control questions for those who arrive before it
  opens at 8, and you may also answer the information control question
  if you prefer to ride on to Mapleton or Florence for resupply.
  Deadwood Country Market does have a restroom. 
  </p>
  <p><strong>[Mile 61.7]</strong> Mapleton. Several places to eat on the left after the
  merge with Hwy 128.  I did not stop on this ride, but in the past I
  have often had coffee and pastry at Caffeination Station, and I have
  had a hearty lunch at Alpha Bit cafe.  On the other hand, at this
  point you're so close to Florence that I imagine most riders will
  prefer to just grind out that last 10 miles until the control.
  </p>
  <p><strong>[Mile 76.1]</strong> Florence (control).  Both lanes of road turn left, but you may
  want the left lane (turn only) so that you can follow it with a left
  just after the corner to the Safeway.  I skipped the Safeway
  thinking that there was another grocery on the right, but I must
  have confused it with another town.  The Safeway in Florence is
  considerably larger than the Safeway in Reedsport, so you might
  consider resupplying here.  I instead had a soda at Nature's Corner
  Cafe &amp; Market, shortly before the bridge. In the worst case,
  if you miss the markets in Florence, there are small convenience
  stores a few miles south, and I will accept those also as the
  Florence control. 
  </p>
  <p>The bridge at the south end is under construction, and not really
  pleasant, but 
  automobiles were polite and patient as I crossed.</p>
  <p>The first few miles south from Florence are only so-so, but
  soon you'll be riding through coastal forest and along some nice
  coastal lakes. The road runs far enough inland that there are few
  glimpses of the ocean, but there is one really nice viewpoint:  The
  National Dunes Day Use area at approximately mile 86.5.  Turn right
  at the sign, and it is perhaps 1/8 mile in to the parking lot.
  There is a covered area for looking out over the dunes to the ocean,
  roughly 1/2 mile away.  No chance to dip your wheels, but the view
  is gorgeous.</p>
  </div> <!-- col -->
  </div> <!-- row -->
  <div class="row"><div class="col-sm-8">
   <figure>
 <a href="img/SmithRiver-OceanView.jpg">
 <img src="img/SmithRiver-OceanView-600px.jpg"
   alt="Dunes Day-Use Area, view of ocean"
   title="Dunes Day-Use Area, view of ocean"
   /></a>
 <figcaption>View of Pacific from Dunes Day-Use Area</figcaption>
 </figure>
</div></div>
<div class="row">
<div class="col-sm-8">


  <p><strong>[Mile 98]</strong> Reedsport (control).  Two bridges into Reedsport
  ... again I found auto traffic polite and patient. I really wanted
  soup and/or a sandwich, and expected to find them at the Safeway.
  No such luck ... this might be the smallest Safeway I've ever been
  in. Potato salad came only in family size. There is a restroom,
  toward the back (look for a label on the double doors). 
  In retrospect I should
  probably have just left the Safeway and tried either the McKays
  Market (just north on the other side of the street) or a fast food
  place.  There is a Subway in the same cluster as the Safeway, and a
  McDonalds and Dairy Queen also close by.</p>
  <p>Rehydrate and top your bottles in Reedsport.  The next segment is
  long and fairly remote, with just one small market about 20 miles
  in.   If you carry a third bottle, fill it in Reedsport.
  </p>
  <p>I would also appreciate a text letting me know when you are in
  Reedsport, so that I can make a rough guess as to when to expect
  you at the Oxbow summit.  If you decide to abandon (I hope not!)
  then a text message is especially important so that we don't worry
  about you being stranded somewhere in the next remote section.</p>
  <p><strong>[Miles 99-150]</strong>  You cross the bridge again coming north out of
  Reedsport, then exit right onto Lower Smith River Road before coming
  to the second bridge.  The first 15 or so miles are nice pavement,
  and on a warm day you will have a tailwind.  You'll pass a couple
  small parks with vault toilets.  At about mile 114.5 you will reach
  Smith River Store.  It is open but quite small; you can get a soda
  and chips but don't expect much else.  Unless you want a beer,
  because it's also a pub. </p>

  </div> <!-- col -->
  </div> <!-- row -->
  <div class="row"><div class="col-sm-8">
   <figure>
 <a href="img/SmithRiver-Falls600px.jpg">
 <img src="img/SmithRiver-Falls.jpg"
   alt="Smith River Falls"
   title="Smith River Falls"
   /></a>
 <figcaption>Smith River Falls</figcaption>
 </figure>
</div></div>
<div class="row">
<div class="col-sm-8">

  <p>This section is really the highlight of the ride. Parts are
  pastoral, parts are forest, and almost all of it is gorgeous until
  you reach some unsightly clear-cuts as you approach the summit.
  Most of the climbing is gentle, again until you near the summit.
  Pavement quality varies; the chip seal just beyond Smith River Store
  is pretty rough. </p>


  <p>You will lose cell phone service sometime between Reedsport and
  the Smith River Store, so you might as well put your phone in
  airplane mode.  I forgot to do it before leaving Reedsport,
  remembered at Smith River Store, and noticed that my phone was down
  to 30% battery because it had wasted a lot trying to make
  connections to the fading cell signal.</p>


<p>The climbing gets hard just a few miles from the Oxbow summit,
  but the climbing doesn't last long.   You'll be at the control
  before you know it.</p>
  <p><strong>[Mile 149]</strong> We will have a staffed control for you at Oxbow
  Summit. We'll have water and instant soup &mdash; cup-o-noodles for
  most riders and one or two portions of a vegan lentil soup for our
  vegetarian riders.  (I am pretty sure Keith is vegan ... anyone else
  have dietary restrictions?)  We'll also have water to top your
  bottles.  I don't think you'll be in the mood for bars and sweet
  stuff, but we'll have a bit on hand in case.  If there is something
  else that you think you'll really, really want 150 miles in, with
  one more hard climb ahead, let me know.</p>
  <p>I got one bar on Verizon at the summit, and was able to send a
  text message.</p>
  </div> <!-- col -->
  </div> <!-- row -->
  <div class="row"><div class="col-sm-8">
   <figure>
 <a href="img/SmithRiver-Moss.jpg">
 <img src="img/SmithRiver-Moss600px.jpg"
   alt="Trees along Smith River Road"
   title="Trees along Smith River Road"
   /></a>
 <figcaption>We got yer trees, we got yer moss.</figcaption>
 </figure>
</div></div>
<div class="row">
<div class="col-sm-8">


  <p><strong>[Miles 149-166]</strong>  There is a swift curvey descent from the
  summit.  Use some care, because there are some big drops from the
  edge on those hairpin turns.  Then there is a bit of flat or rolling
  terrain as you proceed through Alma, an abandoned prison, and on
  toward the Wolf Creek turn (mile 156.8).  Harder climbing starts
  immediately after the turn and continues for about 3 miles. You will
  have cellular telephone service again at the summit of Wolf
  Creek. </p>
  <p>The descent from Wolf Creek summit is a delight ... steep enough
  to work up some real speed, with swoopy curves that won't make you
  ride your brakes overly much.  At about mile 161.5 the first descent
  ends, and there is a very gentle climb to a second, minor summit at
  about mile 166, followed by one more swoopy descent.</p>
  <p>Just as that beautiful descent finishes and the road flattens
  out, you reach the turn onto Territorial Road. </p>
  <p><strong>[Mile 168.5-177]</strong>
  DS  Market in Crow is about 1 mile off course; just continue Territorial
  without turning onto Crow Road.  Closes at 8. But if you stay on
  course, there is a gas station with a Jacksons at mile 177, where
  Crow Road crosses Hwy 127 and becomes Greenhill Road.  I really
  needed it, as my water bottles were empty despite carrying a folding
  extra bottle that refilled one of my regular bottles and half of the
  other, and I would have drunk more if I had more.  (You'll get
  topped up at Oxbow, so you won't need as much as I did.)  The soda
  fountain in the Jacksons will dispense water (the lever is under the
  Gatorade spout), so you can buy some small thing and refill your
  bottles free if you want. I like to fill one bottle with water and
  buy a soda with lots of ice to pour into the other.
  </p>
  <p><strong>[Mile 177-187]</strong> Technically you are on Greenhill Road before you
  reach the intersection at Mile 177, but you won't notice it unless
  you are following a GPS that announces it.   The traffic light where
  Greenhill crosses Hwy 127
  will not sense a bicycle, so you may need to use the cross-walk
  signal. The Jacksons is on your right on the north side of the
  intersection. </p>
  <p>You ride about a mile north on Greenhill and take a right into
  Meadowlark Prairie Park, the western terminus of Fern Ridge
  Path. The path parallels Greenhill for about a third of a mile, then
  turns right just where Greenhill Road meets Royal Ave.  If you
  missed the turn into Meadowlark Park, there is another entry to the
  path just before the intersection.</p>
  <p>There is an information control at the turn, actually at the
  bench which is just after the turn and a small bridge. It will be
  simple, and if you have any difficulty with it just take a picture
  of the area to prove you didn't short-cut the route by taking Hwy
  127 in, which of course you didn't because that would be unpleasant
  and unsafe. 
  </p>
  <p>And then ... just path, path, path into Eugene.  There are a few
  dog-legs where you need to be on a street for a very short
  connection between segments of path, but those will be obvious.
  There is one confusing Y where you could go left to Roosevelt or
  right to Eugene Downtown (mile 179.1); go right.  A few times the
  path splits to give you the choice of going under a bridge or
  crossing at street level, and unless we have an unexpected deluge of
  rain between now and Saturday you should choose the underpasses.</p>
  <p>The path finally ends just before Jefferson Ave.  The path turns
  hard right, then you exit it to dog-leg over the 15th Street
  and right onto the street (you'll see it's the only way to
  transition onto a street continuing east).  15th street is a
  designated bicycle route with sharrows.  You take it all the way to
  Alder street, the west edge of the University of Oregon, and there
  turn right onto a two-way bicycle way on the left side of the
  street.  The first traffic light you come to is 18th, which has a dedicated
  light for cyclists and a good sensor to trigger it.  Turn left on
  18th, over a little hump and down to Agate, turn right and in one block 
  you'll see McMenamins on your right.</p>
  <p>A volunteer will be inside McMenamins to sign your card and
  congratulate you.  We'll try to also have a few bike locks available
  so that you can leave your bicycle on the bike rack.  McMenamins is
  a branch of the same chain that has a number of brew-pubs and
  interesting inns around Oregon.  The 19th Street McMenamins Cafe is
  a smaller outpost, with no brewing on-site, but it offers the usual
  McMenamins menu including Terminator Stout, cajun tots, Captain Nemo
  burger, etc.</p>
  <h3>Other logistics</h3>
  <p>Parking:  The start and the end are approximately a mile apart.
  You might want to park between them, but closer to the end, because
  you'll be a lot more tired then.
  <em>Edit:  The lot I initially recommended, behind the Law School,
  has been replaced by new student dorms.  However, there is a section
  of 15th street on the west side of Agate that is free on
  Saturdays. Signs say overnight parking is prohibited, and times
  before 5am and after midnight are considered overnight, but I doubt
  they are checked after 4am or before 1am.</em>
</p>
  <p>Lodging: Phoenix Inn Suites is near the start.  New Oregon Motel
  is nearer the end of the ride.  There are numerous smaller hotels
  near the start point.</p>
  <p>Beer:  If you live in Eugene, you don't need my advice on this.
  If you are visting and have time for some local beer and good food,
  I highly recommend <a
  href="http://fallingskybrewing.com/">
  Falling Sky Brewing House &amp; Gastropub</a>, 1334
  Oak Alley.  Food prices are on the high side, but worth it.
  <a href="http://thebierstein.com/">The Bier Stein</a> at 1591
  Willamette Street has the widest
  selection of microbrews in town, and possibly in the galaxy. <a
  href="http://www.ninkasibrewing.com/">Ninkasi</a> is probably the most
  famous beer out of Eugene, with a pleasant outdoor dining area.</p>

  <p><a href="smith300k.html">Main event page</a> (description,
  registration, etc.)</p>


  <figure>
 <a href="https://ridewithgps.com/routes/21564104">
 <img src="img/SmithRiverRoute-300px.png"
   alt="The Route (RWGPS)"
   title="The Route (RWGPS)"
   /></a>
 <figcaption>Image: <a href="https://ridewithgps.com/routes/21564104">Ride With GPS</a></figcaption>
 </figure>

{% endblock %}    
